[2017-11-06 17:50] Krishna-Jayanth opened #1 "The build parameters are not passed to the blueprint request from terraform file."
The values from the main.tf file is not picked up during provisioning. If I set min cpu less than allowed in blueprint the request has to fail but working we are setting the min value to default without boundary conditions. We need to test boundary conditions for all resources.

[2017-11-06 17:52] markpeek opened #2 "Certificate signed by unknown authority"
Previously filed:

When trying to connect to few vra7 instances we see that authentication is failing with error certificate signed by unknown authority.

Environment details:
[code]

[2017-11-07 18:18] cars commented on #1
How are you trying to pass the parameters? I am able to pass them successfully so far in my testing, and in the scenario you mention if they're passed correctly the build will fail.  For example using the following blueprint with a single vm (vm1) I have the minimum # of CPUs set to 4.
![image](https://user-images.githubusercontent.com/137110/32509884-90dc57fe-c3a3-11e7-9135-0903ec545ede.png)

 Us

[2017-11-08 14:51] #2 closed

[2017-11-13 18:19] Marcvd316 opened #5 "Unclear how to add a disk to a VM during creation"
I played around with trying to add a disk to a new VM with the vra7 Terraform plugin, but can't figure out how to get it to work, even after comparing with what the "disks" map looks like in a pure REST API request. Can you provide guidance on how to do it?

For example, I've tried things like :

  resource_configuration {
    vm.cpu                 = 4
    vm.memory              = 16384
    vm._c

[2017-11-16 14:13] Marcvd316 commented on #5
After more trial & error, I found a way to add disks to a VM duringdeployment. The custom properties for "VirtualMachine.DiskN.Size" need to be applied in the "catalog_configuration" block (at the vRA Deployment level) which is then inherited by all the VMs in the request.

This is not an issue for my current use case, but it could be for people who have blueprints with different VM types in a sin

[2017-11-16 14:13] #5 closed

[2017-11-17 11:52] virajindasrao commented on #1
Hi,
I have tested with both boundary test cases with min -1 and max +1 and got expected failure message an mentioned in above comment by @cars .
Also, min and max value to the resource went through for me.

[2017-11-17 22:46] Marcvd316 opened #7 "Terraform "depends_on" does not wait for the vRA request to be completed before moving on to next step"
When using the "depends_on" option in a "vra7_resource" block, it should ideally wait for its dependency to be completed with status "SUCCESFUL", however the observed behavior is that as soon as the dependency's request is made, it continues without waiting for it to be completed.

[2017-11-22 04:27] virajindasrao opened #9 "Plugin does not support custom property values right now."
The plugin does not support custom forms and other custom property values in the blueprint.

[2017-11-22 11:30] Marcvd316 commented on #9
Hi Viraj, just to clarify, I've successfully used the plugin to deploy XaaS blueprints and also using custom property values. However, I believe you are correct when you say "custom forms" AKA "dynamically populated custom properties" are not supported by the plugin. That seems to be a hurdle that needs to be worked around no matter how you use the vRA REST API (Terraform, Postman or other).

[2017-11-26 21:52] cars commented on #5
@Marcvd316  - Do you have any examples of this you can share? I'm not seeing the same results. I'm so unable to add disks at all to my deployments... even trying to set the value in the catalog_configuration block doesn't work for me.

[2017-11-27 14:29] Marcvd316 commented on #5
Hi @cars ,

Here is an example of a TF config file that successfully added disks during provisioning :

resource "vra7_resource" "VMwithDisk" {
		catalog_name = "Standard VM"
		catalog_configuration = {
			_deploymentName = "VM with Disk"
			VirtualMachine.Disk1.Size = 325
		}
		resource_configuration{
			CMZvm.cpu = 8
			CMZvm.memory = 16384
			CMZvm._cluster = 2
		}

	}

[2017-11-29 06:00] grantorchard opened #14 "Provider tracks request as opposed to infrastructure in tfstate"
I'm not certain whether this is by design or not, but tracking the request rather than the output of the request (ie the infrastructure components) makes it impossible to interpolate values between resources in a given definition. It also means I can't capture infrastructure properties (such as IP address, hostname) and instead need to login to the vRA portal to get this information.

This behavio

[2017-11-29 07:42] grantorchard commented on #9
Can you provide an example definition for this? I am able to use custom properties without problem.

[2017-11-29 08:46] benfab opened #17 "Fetch the machines IPs or hostnames with terraform show"
Hello,

I am currently using terraform to provision my infrastructure and Ansible to configure the software pieces.

So, once `terraform apply` executed, I would like terraform to fetch the IPs or hostnames of the machines in order to populate my Ansible host file.

I am currently running this workflow with the vSphere and AWS terraform provider and would like to do the same with the vRA 7 terrafo

[2017-11-29 15:02] andreaspeters commented on #17
Cool idea! I crated a [pull request](https://github.com/vmware/terraform-provider-vra7/pull/20) for that. :-)

[2017-11-29 17:14] cars opened #21 "Disk Add Redux"
Re  Issue #5  about adding disks. This looks to be in part because the provider handles values in the **catalog_configuration** block differently than the  **resource_configuration**. For the catalog_configuration it looks to simply add the values to the JSON its building.
[https://github.com/vmware/terraform-provider-vra7/blob/083b54e79ab4c84022eb3b36f1d528beb5768420/vrealize/resource.go#L206-L21

[2017-12-04 07:05] virajindasrao commented on #21
@cars Let's make catalog_configuration flow same as resource_configuration.
I will create PR for that.

[2017-12-04 10:16] virajindasrao commented on #21
#24 created

[2017-12-04 10:48] virajindasrao commented on #23
@Marcvd316 are you trying to update configuration after successfully deploying resource from terraform?
Could you please provide terraform configuration and more details about the issue would be good here.

[2017-12-04 10:54] virajindasrao commented on #14
Hi @grantorchard ,
This feature is initiated in PR #20 . Getting out IP will be a good option and helpful from user view.

[2017-12-04 10:59] virajindasrao commented on #7
[Pull request](https://github.com/vmware/terraform-provider-vra7/pull/10) created for the issue.

[2017-12-04 20:47] Marcvd316 commented on #21
Hi Viraj, I believe it should be the other way around. It should be as easy as possible to add custom properties to your deployment. I think catalog_configuration and resource_configuration should work the way catalog_configuration works today, simply add a custom property to the configuration file and it will be included in the deployment. That would be the equivalent behavior of what you can do

[2017-12-04 20:53] Marcvd316 commented on #23
Hi Viraj,

That is correct, I provision a vRA deployment using a configuration like this :

	resource "vra7_resource" "CentOSVM" {
		catalog_name = "CentOS VM"
		catalog_configuration = {
			_deploymentName = "CentOS Example Deployment"
		}
		resource_configuration{
			vm._cluster = 2
		}

	}

And later on, if I change the value of "vm._cluster" from 2 to 3, it deletes my deployment and creates a

[2017-12-07 18:12] Marcvd316 commented on #14
Hi @virajindasrao,

I think what @grantorchard means is that the tfstate file should reflect the actual state of the machine in vRA, not just the result of the vRA request that was made for its initial creation. For example, if you create a resource in a Terraform configuration that creates a VM that has 2 disks, and later on someone adds 2 more disks to that VM, Terraform will never know about th

[2017-12-07 20:08] Marcvd316 opened #26 "Call a vRA Resource Actions on a provisioned resource"
I think this could be a great functionality to have.

An example use case is that I create a VM and once it is created, I then run a Resource Action on it.

Maybe this could be implemented in the form of a Terraform Provisioner of type "null_resource"?
https://www.terraform.io/docs/provisioners/null_resource.html

[2017-12-07 20:42] cars commented on #26
I've been kind of wondering about this too, and  about  how this would be represented in Terraform esp wrt to #23 .  It looks like there's some thought about this in the code... but it's not clear to me whether it's intended to be a general purpose way to call actions (much less how it's actually  activated) or specifically just destroy and poweroff. [https://github.com/vmware/terraform-provider-v

[2017-12-07 20:53] Marcvd316 commented on #26
I did a bit of research already and didn't find much, every object for other providers (AWS/Azure/Others) are represented by a Resource Type. However a vRA Resource Action seems more like a one time execution kind of thing that we might/might now want to track in the tfstate file and that fits much better into the mold of a Terraform Provisioner.

![image](https://user-images.githubusercontent.com

[2017-12-11 07:05] virajindasrao commented on #14
Hi @Marcvd316,
 I am planning to start work on the same. I will keep you guys updated on the same.

[2017-12-25 09:12] virajindasrao commented on #14
[Pull Request](https://github.com/vmware/terraform-provider-vra7/pull/27) created.

[2018-01-05 15:01] nferro commented on #17
Actually that pull request doesn't fetch the IP address, just the hostname. I've done a pull [pull request](https://github.com/AVENTER-UG/terraform-provider-vra7/pull/5) to @andreaspeters branch adding the ip address logic.

[2018-01-05 15:25] andreaspeters commented on #17
@nferro thats great. thanks for that. :-)

[2018-01-24 17:01] #7 closed

[2018-02-02 12:18] Boran opened #34 "System exception.; HTTP/1.1 503 Service Unavailable"
Hi,

Am testing with terrform v0.10.7  and vRA v7.3.0.
Terraform init+plan work and on apply after:
ra7_resource.example_machine1: Still creating... (30s elapsed)
it fails with
 vra7_resource.example_machine1: instance got failed while creating. kindly check detail for more information

Looking at the vRA UI, Request, the details show "HTTP Error 503. The service is unavailable"

The VRA authentic

[2018-02-02 12:32] virajindasrao commented on #34
Hi @Boran,
Have you tried the same configuration request throught vRA UI?

[2018-02-02 13:06] Boran commented on #34
Well yes it did, but Er, when I try now, the UI fails too. Oops (sheepish grin) I have a Vra issue, will get back...

[2018-02-02 14:20] Boran commented on #34
Well yes it did, but Er, when I try now, the UI fails too. Oops (sheepish grin) I have a Vra issue, rebooting the Iaas fixed it.

[2018-02-02 14:20] #34 closed

[2018-02-02 14:34] Boran commented on #17
Any chance of that PR being merged into the vmware master branch, having the IP would be essential for me too.

[2018-02-13 22:51] garrickmatch opened #35 "Terraform 0.11.2 Crashes"
Requested in an email thread, the crash dump generated after rebuilding the plugin with debugging code from https://github.com/vmware/terraform-provider-vra7/tree/markpeek-debug-createresource

* vra7_resource.da2opws998d1: 1 error(s) occurred:
* vra7_resource.da2opws998d1: unexpected EOF

https://gist.github.com/garrickmatch/292f890643a5a2d7b1346de585107b4d

[2018-02-13 23:17] markpeek commented on #35
@garrickmatch thank you for the log file. If I'm reading it correctly, I believe changing within your resource configuration ```WIN2016-HOSTTXT``` to ```WIN2016.HOSTTXT``` (using a period instead of a dash) should work around the issue. Please confirm.

If that does not work, please share your main.tf with anonymized data.

[2018-02-13 23:36] garrickmatch commented on #35
Well I'll be dipped....yep, that did the trick.  Glad it was something simple, thanks for helping track that down.

[2018-02-13 23:57] markpeek commented on #35
Glad to hear it is working now. I'll leave this issue open to drive a fix to not crash by adding better data verifications and give a better error message.

[2018-02-16 17:07] markpeek commented on #37
Thank you for the issue and crashlog.

@virajindasrao the errDestroyAction return from GetDestroyActionTemplate() can return several different errors (nil, APIError, golang error). However, this [line](https://github.com/vmware/terraform-provider-vra7/blob/master/vrealize/resource.go#L449) assumes it is an APIError with the call to Error(). We need to check for nil and should include type assertio

[2018-02-20 01:04] markpeek commented on #37
@Rudikza a fix has been merged. Please try your use case again and let us know. Thanks.

[2018-02-20 01:05] markpeek commented on #35
@garrickmatch a fix has been merged to give an error (rather than a crash) if someone doesn't have the right delimiter Thank you for raising the issue with us.

[2018-02-20 01:05] #35 closed

[2018-02-21 19:42] Rudikza commented on #37
Thanks, it's fixed.

[2018-02-23 20:05] Marcvd316 commented on #26
Hi,

Would anyone happen to have made progress on this?
I'm finding more and more use cases for this feature, would be great to have it.

Thanks to all

[2018-02-26 21:46] cars commented on #26
I haven't really looked at doing any work around this but wonder if maybe provisioners aren't the right approach since it looks like they're invoked at creation or destruction of the resource? I think it'd be better if you were able to call the action at any/some point during the lifecycle of the resource. This might entail a new resource type that would maybe leverage depends_on  or be targeted a

[2018-02-26 22:26] Marcvd316 commented on #26
Hey Carlos, what you're suggesting makes sense. Maybe it could be simpified if running the resource action could be completely detached from a resource and in the action's configuration block, you would specify the action name and the resource type and resource name you want to run it on. That way you could potentially run actions on items that are provisioned outside of the current TF deployment.

[2018-03-09 06:02] #9 closed

[2018-03-20 21:58] mbenkhal27 opened #40 "vra plugin issue"
I am having issues with this plugin:

the error that is is stored in this File and also  i get a terraform crash message.
Terraform v0.11.4
https://github.com/mbenkhal27/log/blob/master/crash.log

Error: vra7_resource.RHEL_6_Full_Support_nonAA: unexpected EOF

panic: Unknown validation type: 6
2018-03-20T16:40:54.631-0500 [DEBUG] plugin.terraform-provider-vra7:
2018-03-20T16:40:54.631-0500 [DEBUG]

[2018-03-21 06:16] virajindasrao commented on #40
@mbenkhal27 thanks for reporting a but.
Could you please provide terraform config file for testing at my end?

[2018-03-21 11:55] virajindasrao commented on #23
[Pull request](https://github.com/vmware/terraform-provider-vra7/pull/39) created for scale in / scale out resource.

[2018-03-21 12:21] mbenkhal27 commented on #40
https://github.com/mbenkhal27/log/blob/master/traform.tf

thanks for the reply

[2018-03-21 12:47] virajindasrao commented on #40
@mbenkhal27 If I am not wrong then RHEL_6_Full_Support.count should be count only.
This is my initial view though.
Will get back to you ASAP after verifying the bug.

[2018-03-21 12:48] mbenkhal27 commented on #40
okay thanks  alot

[2018-03-21 14:20] mbenkhal27 commented on #40
I have lock.json file inside .terraform. Do you think that it is relevant. a colleague of mine was able to run the same config file without any issues. WHat do you think?

[2018-03-21 17:00] #40 closed

[2018-03-26 17:24] cars commented on #41
You should just be able to specify them in the resource definition. You can look at the examples in the project: (ex: [MultiMachine Example](https://github.com/vmware/terraform-provider-vra7/blob/d6ea95616ba298b80ec0d1295f0ed6187ef8032b/example/multi-machine/main.tf#L15)) or at the risk of tooting my own horn here's a blog post on how to set properties at different levels of a blueprint. It doesn'

[2018-03-27 18:04] cars commented on #41
It shouldn't matter if you're using dropdowns... Can you share screen shots/code of your property groups, tf files and also turn on [logging/debugging](https://www.terraform.io/docs/internals/debugging.html) and see what is being submitted to vRA? If I recall it can log the JSON body it's trying  to submit....

[2018-03-28 07:19] okleinschmidt commented on #41
Hi again,

here we go:

<img width="676" alt="screen shot 2018-03-28 at 08 31 14" src="https://user-images.githubusercontent.com/6831021/38014042-83b443b0-3267-11e8-9cbe-385deb046fed.png">
<img width="799" alt="screen shot 2018-03-28 at 08 31 40" src="https://user-images.githubusercontent.com/6831021/38014057-8c8fbce4-3267-11e8-9d88-ae077d30c249.png">

[code]

[code]

[code]

[2018-03-28 08:00] cars commented on #41
It'd be good to see your  .tf files as well... but my initial look at it says you might be setting these values on the catalog item or blueprint rather than on the vm component of the  blueprint.

Looking at:
[code]

My guess is your .tf file is looking something like:
[code]

When it should be more
[code]

[2018-03-28 08:01] okleinschmidt commented on #41
Exactly! I figured out myself a few minutes ago and deleted my post to write a new one with this solution. Thanks anyway!

[2018-03-28 18:15] afurlani24 commented on #26
Hello,
Has anyone figured out how call a vRA Resource Actions on a provisioned resource? Looking to add cpu to already provisioned resource?
Thanks,
Tony

[2018-03-29 11:54] virajindasrao commented on #26
@afurlani24 I have created a [PR-27](https://github.com/vmware/terraform-provider-vra7/pull/27) which is under review now. It has same feature extension what you are expecting.

[2018-03-29 19:18] afurlani24 commented on #26
Thank You!

[2018-03-29 21:23] Marcvd316 commented on #26
That's awesome Viraj, thanks! Would you be able to show an example of code that calls a resource action?

[2018-04-02 05:41] virajindasrao commented on #26
@Marcvd316 Simply update the values of resource_configuration schema and it will update the deployment accordingly. No need to add any extra action parameter.

[2018-04-02 12:51] virajindasrao commented on #43
@kmich

For IP fetching, [PR-20](https://github.com/vmware/terraform-provider-vra7/pull/20) is out. It is in under discussion.

You can use output/module for dynamic value reference across resources.

[2018-04-05 12:35] afurlani24 commented on #26
Viraj,
There looks like there are no reviewers assigned for your pull request? Do you know how long that will take?
Thanks!

[2018-04-11 07:56] VincenzoDo commented on #26
Hello,

I'm also very interested in this feature, would this also allow the update of storage to say extend the disk for a VM?

Thank you,

Vincenzo

[2018-04-11 12:38] afurlani24 commented on #26
@markpeek Hello do you know when you will be able to review PR-27?  Excited to be able to start using these features.
Thanks,
Tony

[2018-04-20 13:16] afurlani24 commented on #26
@virajindasrao Any update on this been sitting in Review for a long time?

Thanks,
Tony

[2018-04-24 12:18] afurlani24 commented on #26
@virajindasrao Hello will be able to use this anytime soon? Thanks

[2018-04-27 04:40] virajindasrao commented on #26
@afurlani24 PR is under review right now. It will probably get merged by EOW or earlier next week.

[2018-04-27 04:42] #21 closed

[2018-04-27 04:43] #1 closed

[2018-04-30 17:36] surewecan opened #49 "Panic: Unknown validation type: 6"
**Terraform version:** 0.11.7
**Environment:** Ubuntu 14.04.5 LTS
**Go version:** go version go1.10.1 linux/amd64

Terraform commands are failing in case of adding values to resource_configuration/catalog_configuration section with the following error:

`panic: Unknown validation type: 6`

link to the config file: https://github.com/surewecan/terraform/blob/master/main.tf
crash log: https://github

[2018-05-15 14:38] eolix opened #50 "terraform apply fails: *terraform.EvalValidateResource, err: Warnings: []. Errors: [unexpected EOF]"
Terraform v0.11.0
go version go1.10.2 linux/amd64

Compiles without errors, but when running "terraform apply", we get this error:

[code]

Any similar issues?

[2018-05-16 07:49] eolix opened #51 "not java.lang.String for Field: datacenter_location"
Terraform v0.11.7 / Terraform v0.11.0

Passing on the main.tf:

[code]

Gives the error:

[2018-05-17 14:01] g1ps commented on #17
Likewise, the VM is pretty useless if we can't automate it after creation and for that we need the name and/or the IP. This is bog standard stuff. Can we get this change merged, please?

Thanks.

[2018-05-23 22:54] Prativa20 commented on #52
This does not happen when the maps inside resources are empty.
For instance, this crashes the terraform
deployment_configuration = {
reasons = "I have some"
description = "deployment via terraform"
}

BUT the following doesn't
deployment_configuration = {
}

[2018-05-28 06:48] virajindasrao commented on #52
Thanks, @Prativa20  for reporting the bug. I will look into it.

[2018-05-28 06:51] virajindasrao commented on #50
@eolix It would be helpful if you can provide your terraform config file.

[2018-05-28 21:58] raghavav commented on #52
Before we dig too deep into this, let me add that I was able to reproduce the issue and then fix it for myself with help from @markpeek.

I don't know why this problem suddenly started happening. But with the following changes, it went away:
1. I downloaded the latest version of golang (1.10.2).
2. I rebuilt the latest Terraform with the new golang.
3. I rebuilt the plugin with the new golang.

Af

[2018-05-29 15:31] raghavav commented on #53
Destroy should behave the same way as create. This is a valid issue to file.

We do have to check to see if there is a vRA limitation here that makes it hard to track the state of the resource when it is being destroyed. We'll investigate as part of this issue.

[2018-06-04 19:27] eolix commented on #50
[code]

[2018-06-04 19:45] raghavav commented on #52
I do run into this bug off and on. I think compiling the plugin without running 'dep ensure' causes the problem. I seem to be able to fix it for myself every time by first running 'dep ensure' before compiling the plugin.

[2018-06-08 23:16] Prativa20 commented on #52
Running dep ensure before compiling with the latest code and my existing golang version (go1.9.2) works.

[2018-06-09 06:08] virajindasrao commented on #52
Closing this bug as the issue has been resolved by 'dep ensure' before compiling the binary.

[2018-06-09 06:09] virajindasrao commented on #52
Closing this bug as the issue has been resolved by 'dep ensure' before compiling the binary.

[2018-06-09 06:12] virajindasrao commented on #50
Kindly use 'dep ensure' before compiling the binary.
For more information kindly refer [issue#52](https://github.com/vmware/terraform-provider-vra7/issues/52)

[2018-06-09 06:12] #50 closed

[2018-06-09 06:13] virajindasrao commented on #49
Kindly use 'dep ensure' before compiling the binary.
For more information kindly refer [issue#52](https://github.com/vmware/terraform-provider-vra7/issues/52)

[2018-06-09 06:13] #49 closed

[2018-06-09 06:17] virajindasrao commented on #51
Let me try this out.

[2018-06-09 10:53] hobovirtual commented on #51
It works on my case using the following declaration

resource "vra7_resource" "machine1" {
  count = 1
  catalog_name = "centOS 7 (x64)"
  wait_timeout = 30

  resource_configuration = {
    centOS7.datacenter_location = "New York Prod"
    machine1.cpu = 2
  }

  catalog_configuration = {
    reasons     = "Test"
    description = "deployment via terraform"
  }
}

CentOS7 being the virtual machin

[2018-06-14 11:54] mhhutt commented on #57
Apologies i was setting it in the wrong block

[2018-06-18 07:19] Tsuna77 opened #58 "DHCP error message when multiple network in blueprint deployement"
Hi,

I'm using Terraform with VRA7 and I have a problem with my blueprint.

I have 2 network (internal and external). When I deploy with the VRA web interface, no problem but when Terraform try to do it. It failed with this error message : "Field DhcpConfig.dhcpStartIPAddress cannot be null."

I add a screenshot of my blueprint.
![selection_216](https://user-images.githubusercontent.com/3943654/41

[2018-06-18 08:23] virajindasrao commented on #58
Hi @Tsuna77
I tried with DHCP IP allocation and all went smoothly at my end.
Also, as per your given configuration sample, it looks like there is no IP or DHCP property overridden at terraform plugin side. Machine request happening with default values in blueprint except for only CPU count. It looks like, the issue is with blueprint `DhcpConfig.dhcpStartIPAddress` default value.
I haven't checked

[2018-06-18 08:30] Tsuna77 commented on #58
The nat that failed is a One-to-Many and I do not have access to the properties DhcpConfig.dhcpStartIPAddress inside blueprint or inside deployement form.

Thanks.

[2018-06-21 15:31] afurlani24 commented on #26
@virajindasrao  So is this feature completed now?  I noticed the PR was merged.
Thanks,
Tony

[2018-06-26 05:55] ALINRUISU opened #61 "Documentation might be Incorrect"
Based on the README.md
|-/home/<USER>/TerraformPluginProject
    |-bin
    |-pkg
    |-pkg

should it not be the following structure?
|-/home/<USER>/TerraformPluginProject
    |-bin
    |-pkg
    |-src

[2018-06-26 06:17] ALINRUISU commented on #61
changed source to src

[2018-06-27 12:47] virajindasrao commented on #61
PR [#62](https://github.com/vmware/terraform-provider-vra7/pull/62) is out with fixes.

[2018-06-28 12:13] virajindasrao commented on #51
Hi @eolix
The error occurred because the design you are using has no ```custom property datacenter_location```
Kindly refer the following link for how to add custom properties to design
https://docs.vmware.com/en/vRealize-Automation/7.4/com.vmware.vra.prepare.use.doc/GUID-B095B4DB-F2BB-4B87-A1B9-20173EDD28A8.html

[2018-06-28 12:13] #51 closed

[2018-06-28 12:21] virajindasrao commented on #14
#27 Merged.

[2018-06-28 12:21] #14 closed

[2018-07-01 08:27] DanielVaknin opened #63 "Terraform crashes after new fixes"
Hi,

The vRA plugin for terraform worked for me for the past few weeks.
After the recent changes and PR merge (of destroy VM), I went through installing the plugin from scratch, and now it crashes right after "terraform apply".

main.tf file:
provider "vra7" {
  username = "XXXXXXXX@XXXXXX"
  password = "XXXXXX"
  tenant = "XXXXXX"
  host = "https://XXXXXXX"
  insecure = true
}

resource "vra7_res

[2018-07-02 10:45] DanielVaknin commented on #63
@virajindasrao Thanks!
Waiting for the updates.

[2018-07-03 05:06] virajindasrao commented on #63
@DanielVaknin I don't see any crash for latest changes. I am assuming that the custom property is already added to a blueprint.
I suggest you run commands before build `go get -u` and `dep ensure`.
I am keeping this issue open for now. I will do some trial and error here to reproduce this issue.

[2018-07-03 09:55] virajindasrao commented on #63
@DanielVaknin #64 will resolve the issue.

[2018-07-03 11:36] DanielVaknin commented on #63
@virajindasrao I tested the fix and it works.
Thanks!

[2018-07-03 14:41] #61 closed

[2018-07-05 10:06] nferro commented on #17
I've created PR #66 to grab the IP address.

[2018-07-05 11:14] #63 closed

[2018-07-05 14:50] g1ps commented on #17
Can somebody please explain how this is supposed to work? I can't find any way to retrieve the machine name, despite the discussion about it. I try this:
[code]
It usually doesn't work. I have noticed that, for some reason, Private Cloud 2 doesn't show an IP address for a machine that has just been created and when that's the case, Terraform doesn't return it through this component. Once the IP ap

[2018-07-06 19:32] raghavav commented on #17
I think it depends on how ip addresses are assigned. DHCP addresses cannot be predictably assigned in a time window. The API returns the ip address only after the address is assigned and data-collected. On the other hand, if the ip address comes from an ip pool, vRA controls the address and is able to provide the right value. Can you please try this with ip-pool-based address assignment.

[2018-07-10 06:45] g1ps commented on #17
Hi,

Thanks, @raghavav . No, I don't control the system and it wouldn't be worth my time trying to make it happen. That isn't very useful but if I can get the name I might stil be OK. It looks lke vRA has fallen well short of expectations and that we're moving to AWS but, in the meantime, how do I get the name?

Many thanks.

[2018-07-10 08:44] nferro commented on #17
Now that #66 was merged, the same way you get the IP also allows you to get the machine name.
See the [example](https://github.com/vmware/terraform-provider-vra7/blob/master/example/remote-execute/main.tf).

Instead of `Machine.ip_address` I get the name with `Machine.name`

[2018-07-11 10:03] virajindasrao commented on #67
It depends on the approach. You can place a plugin binary in the same directory where main.tf is placed.
But looking forward to your suggestion though.
I will update the document soon.

[2018-07-12 11:30] virajindasrao commented on #70
#71  Created against this issue

[2018-07-16 13:51] g1ps commented on #17
Provisioning is working for me using the machine name, now, after updating and fiddling with the timeout and some other parameters. Thanks again.

For anyone following who's looking for a working solution, the `remote-exec` proviisoner works using the machine name thus:

[code]
The IP address is retrieved if vRA has populated the field but it usually doesn't do that fast enough. I use outputs to d

[2018-07-19 12:06] afurlani24 commented on #26
@virajindasrao Hello should this be now working?  I have provisioned a server using terraform then went in and change CPU count from 2 to 4 and says it changed however when I go out to vRA it still says 2 CPU..   is there something that I missing here?  Thanks for your help!

[2018-07-20 05:34] virajindasrao commented on #26
@afurlani24 Did you see any request placed on vRA against the CPU update?

[2018-07-20 12:46] afurlani24 commented on #26
@virajindasrao Seems to always fail at the 15m10s mark so something timing out?
vra7_resource.Linux: Still creating... (15m10s elapsed)
Error applying plan:

1 error(s) occurred:

* vra7_resource.Linux: 1 error(s) occurred:

* vra7_resource.Linux: resource is still being created

[2018-07-20 13:57] afurlani24 commented on #26
@virajindasrao I also added the wait_timeout and put it too 120 and it goes that long that fails..

[2018-07-23 05:19] virajindasrao commented on #26
@afurlani24  What do you see on vRA request tab? Is provisioning went through for the same request which is failed after 120 mins?
If the request got failed in vRA then kindly let me know the details of it.
Thanks.

[2018-07-23 11:46] afurlani24 commented on #26
@virajindasrao The requests always complete successfully on the vRA side regardless of the wait_timeout however I am never getting my terraform command line back it just keeps saying  vra7_resource.Linux: Still creating...   until it reaches the timeout set.  I am never getting the creation complete message that I have always gotten "vra7_resource.RHEL_7_Full_Support: **Creation complete** (ID: 50

[2018-07-24 13:44] virajindasrao commented on #26
@afurlani24 I tried and it went through for me.
I am assuming that you are creating two resources and one is working fine, but second.
I don't see any issue in plugin flow. I will try a few corner cases and let you know.
I am keeping this issue open for now.

[2018-07-24 13:44] #26 closed

[2018-07-24 13:59] afurlani24 commented on #26
@virajindasrao  No I am only creating one resource and the server builds in vRA but the command line never comes back and says Creation Complete it goes on until it reaches the timeout.  So even when the server is done in vRA the terraform command line keeps going and does not think the build is done.  Never had this problem before until downloaded new plugin.  I will keep testing.  Thanks

[2018-07-24 14:18] virajindasrao commented on #26
Thanks for the updates @afurlani24
May I know the specifications for blueprint you are using right now?

[2018-08-03 20:43] vaficionado commented on #73
@virajindasrao can you please check this out? I sent you an email regarding it as well

[2018-08-03 20:45] afurlani24 commented on #73
This has happened since the last pull request to add the Call a vRA Resource Actions on a provisioned resource.  So even when the server is done in vRA the terraform command line keeps going and does not think the build is done.   I am never getting the creation complete message that I have always gotten "vra7_resource.RHEL_7_Full_Support: Creation complete (ID: 504686b1-83e3-4a14-aebc-a83cb470613

[2018-08-05 17:25] virajindasrao commented on #73
May I know the `terraform show` command output after wait_timeout completion?

[2018-08-06 13:24] afurlani24 commented on #73
@vaficionado I am using Terraform version 11.7 and my version of Go is 1.9.2 I was using Terraform 11.5 and was told to try 11.7 which I did and still have the same issue.  Now even when I put a the wait_timeout it still keeps going and does not time out.  When I ran the terraform show nothing came back

[2018-08-06 14:11] afurlani24 commented on #73
@virajindasrao So I went back to Terraform 11.5 here is the output..
vra7_resource.Linux: Still creating... (32m20s elapsed)
vra7_resource.Linux: Still creating... (32m30s elapsed)
vra7_resource.Linux: Still creating... (32m40s elapsed)

Error: Error applying plan:

1 error(s) occurred:

* vra7_resource.Linux: 1 error(s) occurred:

* vra7_resource.Linux: resource is still being created

Terraform

[2018-08-07 13:55] afurlani24 commented on #26
@Marcvd316 Have you used the new plugin without any issues?

[2018-08-15 00:02] raghavav commented on #73
So, if I understand the problem correctly, things work fine with Terraform 11.5, but then things hang when using Terraform 11.7. Is that an accurate summary?

[2018-08-15 13:29] afurlani24 commented on #73
@raghavav No it does not matter what version of Terraform I use 11.5 or 11.7 Terraform keeps going without getting a Creation complete (ID: 504686b1-83e3-4a14-aebc-a83cb4706137) message.  The server builds in vRA with no issues the state file still says In Progress.. so it is like terraform does not think the server is completed in vRA it will run until it reaches what ever time out you set.  This

[2018-08-15 13:38] afurlani24 commented on #73
@raghavav Let me know I could get on a webex with you to show you what is going on?
Thanks
Tony

[2018-08-15 16:39] raghavav commented on #73
Yes, a webex would really help. In fact, could you post a webex recording right here into this issue so that other users have access to it too? Thanks for that!

And the output of 'terraform show' will also help.

[2018-08-15 16:44] vaficionado commented on #73
I will connect you guys on email in a moment - standby @afurlani24 @raghavav

[2018-08-16 00:09] raghavav commented on #73
Recording my attempts here for posterity ...

I ran through a series of 'terraform apply; terraform destroy' calls against my in-house vRA (7.4). The blueprint was a simple one with one machine in it. The provision took about 4 min.

There were no problems with running through these iterations. I was able to provision and destroy successfully, several times.

[2018-08-23 06:02] raghavav commented on #74
Was the resource created using the Terraform plugin?

And what does the .tf file look like?

Thx

[2018-08-23 06:12] BenCamareno commented on #74
Yes, the resource was provisioned with the Terraform plugin.

    provider "vra7" {

      username = "${var.username}"
      password = "${var.password}"
      tenant   = "${var.tenant}"
      host     = "${var.host}"
      insecure = false

    }

    resource "vra7_resource" "server_1" {

      catalog_name = "catalog item"

        catalog_configuration = {

        Deployment           = "ser

[2018-08-23 06:16] raghavav commented on #74
This path is certainly not tested or even supported yet, but it is worth following up on.

Does the XaaS blueprint produce a resource? Can you give some more details of the XaaS blueprint and what it produces?

Thanks

[2018-08-23 06:32] BenCamareno commented on #74
The XaaS Blueprint deploys 1 or more DB servers.

It seems that the resource ID that Terraform retrieves is the Request ID and not the Deployment ID. So when it tries to Destroy there are no items that match that ID.

I was able to successfully Destroy a resource with Terraform if I manually change the resource ID to the Deployment ID in the .tfstate file.

[2018-08-23 06:37] raghavav commented on #74
Yes, the current resource ID is actually a catalog request ID. We need to fix that at some point.

Surely the current code didn't just work for you when you changed the resource ID in the .tfstate file. You must have had to make some changes to the delete code ... did you?

[2018-08-23 06:40] BenCamareno commented on #74
It actually worked just like that, only thing I changed was the ID and away it went.
I also had my doubts, but I reproduced it several times.

[2018-08-23 06:41] raghavav commented on #74
Okay, thanks. I have to connect the dots by looking at the code and then get back to you. Something isn't adding up in my head.

[2018-09-04 12:33] woodyj56 commented on #73
Hi Guys
I am experiencing the same issue with 0.11.7 has there been any progress on this?
Thanks

[2018-09-04 12:43] afurlani24 commented on #73
@woodyj56 Hello I just sent email to developer I have been working with to get an update they cannot reproduce it on their side I sent them a recording of what I have been doing.  Mine does not work with 11.5 or 11.7.  So does yours work with 11.5 and you are able to make post provisioning changes without issues?
Thanks

[2018-09-04 13:08] woodyj56 commented on #73
@afurlani24 thanks for responding.

actually mine doesn’t work with either as well so at the moment i cannot provision anything fully with terraform.

I’m in the early stages of testing can you or anyone recommend a stable version where i can definately expect this too work?

[2018-09-04 17:55] laurentfrere opened #75 "Unable to add disk"
According to the following:
-Provider example [remote-execute](https://github.com/vmware/terraform-provider-vra7/blob/master/example/remote-execute/main.tf)
-Bug #5
-Pull #25
..adding a disk on initial request is done by using parameter VirtualMachine.DiskN.Size to either the resource (per vm according to pull #25) or the catalog (all vms in the deployment) configuration sections.

This does not h

[2018-09-04 18:35] vaficionado commented on #75
Thanks for the report Laurent. Someone will check this out ASAP

[2018-09-04 18:38] raghavav commented on #75
@laurentfrere Can you confirm that adding a volume is not disabled in your blueprint, i.e. make sure that on the Storage tab in the blueprint design canvas, 'Volumes' is not set to 0.

[2018-09-04 18:57] laurentfrere commented on #75
Hi, it is unset, so it defaults to 60. I have also done a catalog deployment with an extra disk to make sure. Maximum storage for that blueprint should also not be an issue.

[2018-09-04 19:11] raghavav commented on #75
Can you please copy-paste the output of 'terraform show'? Thanks

[2018-09-04 19:16] raghavav commented on #73
I am still having no luck reproducing this issue. I have had several deployments go through successfully. I have tried this with properties very similar to those in the Webex recording, including additional disks. This is very strange. I am on Terraform 0.11.7, and am trying this with the latest compiled version of the plugin.

[2018-09-04 19:56] raghavav commented on #73
Just to be sure you guys are not stumbling into an issue I was hitting with my plugin setup ...

Can you confirm that you have the terraform-provider-vra7 plugin is correctly installed according to these instructions: https://www.terraform.io/docs/configuration/providers.html#third-party-plugins.

I know this may be an obvious thing to check, but I did have it wrong for a brief period because I wa

[2018-09-04 20:29] laurentfrere commented on #75
Output of 'terraform show'
[code]

The add disk is done on initial creation

[2018-09-05 01:40] BenCamareno commented on #74
@raghavav how's this going? Anything I could help you with?

[2018-09-05 08:44] woodyj56 commented on #73
Hi
I hadn’t done this but i get the same result unfortunately.  It times out and fails but builds successfully on VRA.

[2018-09-05 09:44] g1ps opened #76 "Unable to pass deployment_name to vRA"
Hi,

I have been tryng to do this as our system requires this field for certain templates. Nothing I have tried works and, looking at the source code, there's no provision for it. I have tried adding various spellings of `deployment_name` to all of the `resource` groups. None of them work. Is this possible? If not, can it be added?

Many thanks.

[2018-09-05 11:25] hobovirtual commented on #76
Hi @g1ps

Try this

catalog_configuration = {
    reasons     = "Test"
    description = "deployment via terraform"
    provider-_deploymentName = "gp1s-test"
  }

Should meet your need.
Thanks!

[2018-09-05 11:50] afurlani24 commented on #73
@woodyj56 Hello you would need to get the version before this one that works fine for me.

[2018-09-05 11:52] afurlani24 commented on #73
@raghavav Hello yes I have my binary under that directory it had to be or would not pick up new plugin

[2018-09-05 18:29] raghavav commented on #73
Can I have a little more of an explanation please? What works and what doesn't? Am I hearing that this works on an earlier version of Terraform? Or is it the plugin you are talking about? In my case, I have the latest version of the plugin and Terraform 0.11.7, with no issues.

[2018-09-05 21:28] laurentfrere commented on #75
@raghavav do you see anything wrong in the output?

[2018-09-05 22:17] raghavav commented on #75
No, I don't. It just surprises me that this works fine directly from vRA, but does not through Terraform. The output looks fine. You could try a lower-case 's' for the 'Size' parameter. But I don't think that is the problem.

I am still scratching my head on this one.

Do you see anything on the vRA side? Any indicators of any kind on the request details within vRA? The Terraform command should ha

[2018-09-06 00:40] laurentfrere commented on #75
You are right; lowercase / uppercase does not make a difference for 'size'.

**I was able to add disk on (initial) deployment**, though, using a different account; one that is part of support for the business group. The test account I was using previously was able to add disk through the web catalog and its group had all the required entitlements. Only when I added that account to the support role

[2018-09-06 09:43] idoru78 commented on #75
I'm having this issue too. I thought I was doing something wrong somewhere as all the examples seem pretty straight forward however I've tried the same things as @laurentfrere to no avail.

[2018-09-06 19:42] laurentfrere commented on #75
@raghavav does this work for you with a 'regular' user account (one that is part of the user roles but not support)?

[2018-09-06 23:30] raghavav commented on #75
I have not tried that. Let me try that and get back to you. I have to research what the expected vRA behavior is for different user roles. At the least, it should not fail silently.

[2018-09-07 07:26] g1ps commented on #76
Thank you. I'm not surprised I didn't find that.

I now have the problem that no Windows VMs in our catalogue are returning either name or IP at any time, even from `refresh`. I am using:
[code]
with
[code]

[2018-09-07 13:53] hobovirtual commented on #76
I haven't personally tested this in the past, quick test on my side and i get the same issue, nothing is getting returned.

I would suggest to open a new issue to get a better tracking on this issue/bug.

Here's my request request template

``
resource "vra7_resource" "deployment1" {
  count = 1
  catalog_name = "centOS 7"
  wait_timeout = 30

  resource_configuration = {
    vm1.datacenter_locati

[2018-09-07 14:16] g1ps opened #77 "Unable to pass businessgroup_id to vRA"
businessgroup_id doesn't want to work for me, either. I have access to two business groups and templates from both appear in the catalogue. They are identical except for the group name, which appears below the name in the catalogue. I want to be able to direct requests to either group, since this determines the resulting machine name. I am using:
[code]
for example. The response is:
[code]
I've tr

[2018-09-08 13:15] hobovirtual commented on #77
Hi @g1ps

You will need to use the Id associated to the business group and not the name

Example:

`  businessgroup_id = "3cc23ed9-fba6-4780-81b6-82fb0c667418"
`

You can refer to this link to get the Id

[https://docs.vmware.com/en/vRealize-Automation/7.3/com.vmware.vra.programming.doc/GUID-6D0E98BD-C746-4B08-87B1-3E1B4EB361DD.html](https://docs.vmware.com/en/vRealize-Automation/7.3/com.vmware.vr

[2018-09-09 17:34] fostero opened #78 "Unable to set datacenter_location"
Terraform 0.11.8

Very similar to https://github.com/vmware/terraform-provider-vra7/issues/51 (closed)

I'm trying to set the datacenter_location property in the resource_configuration section.

resource_configuration = {
   Linux.cpu = 2
   Linux.memory = 2048
   Linux.datacenter_location = "DC1"
}

If I try to define the property as a string, I get the following error:

vra7_resource.this: Resou

[2018-09-10 09:06] g1ps commented on #77
Thanks, much appreciated, however I can't get past authentication in a browser or Postman. I've tried `/identity/api/tokens` and even pulling a token from an active browser session doesn't work. How do I get the thing to authenticate?

Thanks

[2018-09-10 12:47] hobovirtual commented on #77
Hi @g1ps

For the token, you can refer to these sites

[](https://blogs.vmware.com/management/2017/05/vrealize-automation-api-samples-for-postman.html
)[](https://docs.vmware.com/en/vRealize-Automation/7.3/com.vmware.vra.programming.doc/GUID-007C7087-2714-4A20-8055-D8520FCE26AD.html
)

But to avoid you some reading here's the POST request URL

https://{vra}/identity/api/tokens

The body is like th

[2018-09-10 13:28] hobovirtual commented on #78
Hi @fostero

I'm using the following declaration in my main.tf file and it works for me

[code]

Boston being the location i've defined following the [documentation](https://docs.vmware.com/en/vRealize-Automation/7.3/com.vmware.vra.prepare.use.doc/GUID-6D1E7644-754D-4DF8-A87D-B8E83F52C13A.html)

In my test, the option Display Location on Request is also define within the blueprint canvas for the v

[2018-09-10 13:41] g1ps commented on #77
Thanks. That's what I've been doing. It says it can't connect. I didn't have the domain on the user name so I tried that but it doesn't work for me.  Tried anothe ruser that I know works with the API. Raw data. Form data. Nothing works.

[2018-09-10 15:51] fostero commented on #78
Hi @hobovirtual

terraform 0.11.8
vra 7.1
vra provider 0.0 1

[2018-09-10 16:30] hobovirtual commented on #77
What error do you get when trying to access https://{vra}/identity/api/tokens for example, where {vra}=vra01.corp.local

[2018-09-11 07:57] g1ps commented on #77
Specifically:
[code]
Both URLs fail this way but the API works fine elsewhere.
If you meant literally change our URL for the one you provided, that fails the same way but I don't know why that would work.

[2018-09-11 11:06] hobovirtual commented on #77
Hi @g1ps

For the url, you're right, i don't expect it to work, it was for example purposes only :)

Two things we can check / try

1. Have you turned off SSL certificate verification in postman? This is often blocking request since Postman by default block request with untrusted endpoint.
2. Have you tried with curl? This is something quicker and would eliminate postman from the equation, here's

[2018-09-11 11:17] hobovirtual commented on #78
Hi @fostero

Never tested on 7.1, only from 7.2+

But looking into [7.1 documentation](https://docs.vmware.com/en/vRealize-Automation/7.1/com.vmware.vrealize.automation.doc/GUID-D6FA0C92-FB4F-44AF-AEE0-2D54E16286C5.html) looks like the Vrm.Datacenter.Location property is not listed.

If you set the property manually on the blueprint, does it work?

On a side note and as an FYI, 7.1 is EOGS this up

[2018-09-11 11:36] g1ps commented on #77
Hmmm. 1. didn't help but 2. worked from another machine. I don't know what Postman's problem is. I then tried using bits of what was returned to get the client ID but I still can't get a response. Postman could well still be the problem, though. I'd try with curl but I have no idea how the authentication should work. Using basic auth with the `/subtenants` URL from Postman results in:
[code]
Why i

[2018-09-11 12:17] hobovirtual commented on #77
As far as i know these ID's can only be query via API but there's many ways to get them.

Not sure what is the issue with your postman configuration but as mentioned, make sure you've turned off SSL certificate verification in your postman client settings.

Here's a set of linux command you can make to get the output, please note i'm using jq for this, if you don't have it on your linux machine yo

[2018-09-11 12:29] fostero commented on #78
Hi @hobovirtual

Apologies I'm not all that familiar with vra as it's a service provided by another team in my company.

Here are the things I do know:

If I order a vm via the UI there is a location dropdown that allows me to select one of two datacentres.  This field is optional and a default location will be applied if not selected.

If I order a vm using our python script that calls the vra AP

[2018-09-12 12:07] hobovirtual commented on #73
I'm getting also this behavior and decided to do more test, here's the information of my test.

I have two management box

1. Windows 10
[code]

2. CentOS 7.5
[code]
The user initiating the request has the User Role in the Developpers Business Group in vRealize Automation

When I launch the deployment from my Windows box, the deployment completes in vRA but i never get the response from my terrafo

[2018-09-12 12:14] afurlani24 commented on #73
@hobovirtual Thank you for this information I had a webex with @raghavav yesterday to go over this issue.  This is looking more like a security role issue.  I wonder what is needed for the user role to work?
Thanks

[2018-09-12 14:49] vaficionado commented on #73
Actually, this new info definitely seems to point at an OS dependent issue rather than a security role one. @afurlani24 you mentioned that you had others using Mac that were seeing the same issue, can you re-confirm that? It would definitely help us isolate the problem.

[2018-09-12 17:15] afurlani24 commented on #73
@vaficionado Yes this is also happening on my bosses Mac he is having the same result.

[2018-09-12 22:45] hobovirtual commented on #79
I guess your users are using the Hostname property in their declaration which overrides the default Machine Prefix defined in your environment?

If that's the case, then the issue is not related to the provider itself, but rather just a normal behavior in vRA.

You can get more documentation on the property below (just a copy and paste from the official documentation)

**Property**: _Hostname_
**D

[2018-09-12 22:50] hobovirtual commented on #75
I did some test on my lab with the latest internal build and this is working as a regular user with minimal rights

Will try to setup a 7.4 build and see if i can reproduce the issue.

[2018-09-12 23:18] hobovirtual opened #81 "When adding VirtualMachine.DiskN.Size property - The additional Disk is not shown in the request Input"
When declaring an additional disk in our main.tf file like this

[code]

The additional disk is not shown in the request input tab like it would be when adding the disk via the web interface.

Here's a screenshot of the request made via terraform

![capture1](https://user-images.githubusercontent.com/20516722/45458082-0180e280-b6c0-11e8-8ede-db7ff7d55025.PNG)

Please note that the disk is added su

[2018-09-12 23:27] hobovirtual commented on #78
Hi @fostero

I can't test this due version 7.1, i will let other chip in.

The only thing i can confirm that with version 7.2+ the following declaration works

[code]

[2018-09-13 07:38] idoru78 commented on #79
I thought that might be the case. Thank you.

[2018-09-14 12:54] fostero commented on #78
Thanks @hobovirtual - I guess this is a 7.1 specific thing.  I'm trying to get more information from the team at my company that look after the vRA service - perhaps there is a field definition that I can share that would explain why it appears to require a map value instead of string.

[2018-09-17 09:42] idoru78 commented on #78
Hi, we are using 7.2 and I get the same error.

* vra7_resource.location_testing: Resource Machine Request Failed: vRealize API: [{Code:10101 Message:Invalid argument. SystemMessage:Expected EntityReferenceDatum, not java.lang.String for Field: datacenter_location}]

The blueprint does have `Display Location on Request` ticked and we have configured additional datacenters as per [this](https://doc

[2018-09-17 19:31] raghavav commented on #73
@afurlani24 Thanks for all the logs and help with debugging this issue.
There does seem to be a bit of an assumption in the code that is causing this, that may need fixing.

Could you please check the following on VRA for me:
Is the user that is making this request entitled to the 'Reconfigure (Machine)' action under Administration -> Catalog Management -> Entitlements?
If the user is not entitled

[2018-09-18 00:37] hobovirtual commented on #75
Did some more test following my previous reply, here's my result but first my setup

[code]

First Instance of vRealize Automation (vra1)
`version 7.4.0 (build 8182598)
`

Second Instance of vRealize Automation (vra2)
`Version: 7.5.0 (Build: 9517954)
`

Both instances has a Local user (dev1@vsphere.local) and Business Group (Developers) Configured with minimal and identical rights

Both instances

[2018-09-18 01:07] hobovirtual commented on #75
Just to complete another test, decided to leverage regular API call and added the VirtualMachine.Disk1.Size property in myrequest.json answer file.

I've observed the same behavior as stated above.

This issue/behavior might be related to the way vRA 7.4 handle the request data with limited user rights?

My request body for vra1 (7.4 HF5) requestdata (second disk not added)

[code]

My request bod

[2018-09-18 01:29] hobovirtual commented on #78
Hi @idoru78

Maybe this is already the case, but in your declaration, make sure that the prefix match the id define in the design canvas for that vSphere Machine.

Exemple, this my blueprint

![image](https://user-images.githubusercontent.com/20516722/45658746-de3ea480-babe-11e8-8f2c-a2c5426050a8.png)

And this is my declaration

[code]

If this is the case and it's still not working, can you shar

[2018-09-18 13:31] vaficionado commented on #73
Thanks @afurlani24 - anxiously awaiting your results

[2018-09-18 13:32] vaficionado commented on #75
This is very helpful information, thanks for the thorough testing. @raghavav

[2018-09-18 13:34] afurlani24 commented on #73
@raghavav Hello so in production I do not have that Reconfigure machine entitlement and will not be able to change that in production.  I made the change in my development system and it did work!  So that is the issue that was causing that.
Thanks,
Tony

[2018-09-18 13:40] afurlani24 commented on #73
@raghavav We are entitled to Add Disk, Change CPU(Virtual machine), Change RAM(Virtual machine) not to Reconfigure Machine so this could be a problem.

[2018-09-18 13:44] vaficionado commented on #73
That's actually interesting and corroborates our findings. Any chance at all you could get reconfigure access just on a test entitlement for validation purposes? Given the trouble we've had reproducing this issue it would be the (likely) last step we need to be sure we know exactly what is wrong, and then we can focus what we are going to do about it

[2018-09-18 13:44] vaficionado commented on #73
Sorry, just noticed your second comment above where you validated this in your dev environment. That's very helpful, thanks.

[2018-09-18 13:45] afurlani24 commented on #73
@vaficionado Yes that is the issue it works in development and I actually made a change to CPU and it kicked off a reconfigure.

[2018-09-18 15:00] idoru78 commented on #78
Hi,

The declaration does use the correct prefix for the blueprint. My declaration is below.

[code]

[2018-09-18 17:35] raghavav commented on #73
Thanks @afurlani24 for confirming my theory.

You should not need this entitlement in order to provision blueprints. But you do need this entitlement to change cpu, memory etc. So, we will have to tighten the implementation a little to first allow provisioning to proceed and at the same time to clearly indicate that reconfiguration is not possible.

[2018-09-18 17:46] hobovirtual commented on #81
Little more test/data on this topic

Using API to make a blueprint request and have the input shown into the request i need to modify the request template and add the following value in the disks data structure as follow

[code]

<img width="1152" alt="screen shot 2018-09-18 at 1 29 48 pm" src="https://user-images.githubusercontent.com/20516722/45705216-01ad3200-bb47-11e8-957f-87d6c4001b19.png">

[2018-09-18 18:06] afurlani24 commented on #73
@raghavav Ok however I don't need that when using the UI because I have the Add Disk, Change CPU(Virtual machine), Change RAM(Virtual machine) entitlements.  So this will only be needed when using Terraform.

[2018-09-18 18:08] raghavav commented on #73
Ah, I see @afurlani24. Maybe we are using the wrong entitlement in the plugin then. Thanks for the input. We will figure this out here.

[2018-09-19 08:33] dtrac opened #82 "wait_timeout (vra7 provider)"
Hi there,

I'm new to terraform, so this my be my misunderstanding, but why does a deployment return "Apply complete!" after the wait_timeout has been reached (e.g. 15 mins), when the VM build is still in progress?

Should this not fail the build (and the timeout be manually adjusted upwards to account for the actual build time)?

It seems like it will cause a problem for downstream resources...

[2018-09-20 21:55] Prativa20 opened #83 "Better logging framework"

[2018-09-20 21:56] #83 closed

[2018-09-20 22:01] Prativa20 opened #84 "Code clean up"
1. Modularize the code
2. Add utilities
3. Add constants
4. More logs

[2018-09-20 22:35] raghavav commented on #82
That's a valid point and should be fixed as part of issue #73. There is a bug in the code.

[2018-09-26 00:05] Prativa20 commented on #82
This issue is fixed. On time out, correct message and status is shown.

[2018-09-27 01:16] hobovirtual commented on #73
FYI, updated my provider with latest version and the behavior mentioned in this quoted text, is no longer observed.

[2018-09-27 21:14] automationbetauser commented on #73
@hobovirtual so the latest provider build has fixed the issue for you? Just to be clear

[2018-09-27 21:14] vaficionado commented on #73
@hobovirtual so the latest provider build has fixed the issue for you? Just to be clear

[2018-09-27 21:28] Prativa20 commented on #73
Fix for #82 has been merged and it should fix a part of this issue which is terraform apply hangs even when the deployment is completed on the vRA.

The other part is as mentioned in the below comment. And we are working to fix it.

[2018-09-27 21:51] hobovirtual commented on #73
Hi @vaficionado

Yes exactly, after updating to latest release the issue is gone from my side.

[2018-09-28 18:50] Prativa20 opened #87 "Terraform apply creates a deployment with invalid the terraform configuration file"
Terraform apply creates a deployment with invalid terraform configuration file. The deployment that is created has default values of cpu, memory etc.

For instance, with an invalid component name, machine,  instead of vSphere__vCenter__Machine_1, the  vSphere__vCenter__Machine_1 has the default cpu 1.

 resource_configuration = {
    machine.cpu = 3
    vSphere__vCenter__Machine_1.memory = 4096

[2018-10-03 21:51] Prativa20 commented on #87
Added the validation for both create a resource and update a resource

[2018-10-03 22:18] Prativa20 opened #89 "Update resource does not show the request status"
Creating and a destroying a resource pulls shows the request status while update resource does not give any information about the status of the request and returns irrespective of whatever the wait timeout is.

`terraform apply
vra7_resource.Prativa_test_deployment: Refreshing state... (ID: <catalog_id>)

An execution plan has been generated and is shown below.
Resource actions are indicated with

[2018-10-07 03:39] widdix123 commented on #52
I compiled the  plugin after dep ensure , but the issue still remains . Pleas suggest

[2018-10-08 04:08] raghavav commented on #52
Are you trying this with the latest code? Have you correctly installed the compiled plugin?

[2018-10-08 04:55] widdix123 commented on #52
@raghavav : I followed the steps mentioned here : https://github.com/vmware/terraform-provider-vra7
The code is latest, built using dep ensure and go build .

if I add anything inside resource_configuration , i get the below error

**vra7_resource invalid character '<' looking for beginning of value**

**Code Snippet :**

resource "vra7_resource" "example_machine1" {
  catalog_name = "CentOS 6.3"

[2018-10-08 04:58] raghavav commented on #52
Ah, this is a completely different issue then, from what I can tell.
Could you turn on debug logging (set TF_LOG environment variable) and send us the output on the screen.
We should be able to tell what is going on.

Thanks

[2018-10-08 10:12] Prativa20 commented on #52
@widdix123 Also, you should find a vra-terraform.log file in your working space. Please share that as well.

Thanks

[2018-10-08 13:48] widdix123 commented on #52
@Prativa20 @raghavav

Here are the details. We tried with Terraform v0.11.8 and we also faced the similar issue using the go and dep version so later switched to Terraform v0.11.9 but still able to produce same error.

Terraform Version - Terraform v0.11.9-dev
go version - go version go1.11.1 linux/amd64
dep version - version     : v0.5.0
[Terraform.txt](https://github.com/vmware/terraform-provide

[2018-10-08 13:51] widdix123 commented on #52
@Prativa20 @raghavav Please review the file vRA Terraform log.txt, I save the content of log file to this txt file.

[2018-10-09 12:03] VincenzoDo commented on #91
I have the same issue, the resource configuration is printed correctly in the plan but then somehow it gets cut when apply happens.

Terraform will perform the following actions:

  + vra7_resource.example_machine1
      id:                                                         <computed>
      businessgroup_id:                                      "dfaa1892-f422-425f-99c6-Xxxxxxxx"
      catalo

[2018-10-10 03:06] widdix123 commented on #52
@Prativa20 @raghavav  Any suggestions on what i might be doing wrong here ?

[2018-10-10 12:59] VincenzoDo opened #93 "Terraform destroy doesn't work"
Hello,

as the title states I'm not able to destroy a VM using the plugin. No log output is written to vra-terraform.log during the destroy operation, so I enabled terraform debug logging which is attached here.
[tflog.txt](https://github.com/vmware/terraform-provider-vra7/files/2464727/tflog.txt)

TF file:
[code]

## Expected Behavior
The VM gets destoryed

## Actual Behavior
No action is perform

[2018-10-10 17:19] Prativa20 commented on #52
@widdix123 the file you shared does not have any logs that can be helpful in debugging. There should be a log file called vra-terraform.log, that must have been created inside your working directory. Can you please share that? Also, if you can turn on debug logging (by setting TF_LOG environment variable to DEBUG) and share the console output.

[2018-10-10 19:29] Prativa20 commented on #52
@widdix123  Can you check if Reconfigure Machine action is turned on in your entitlement?

[2018-10-10 19:50] widdix123 commented on #52
I do not see that option enabled.

[2018-10-10 19:53] Prativa20 commented on #52
In that case, this issue is being addressed as part of #73 . Meanwhile, to unblock yourself, try enabling the reconfigure action in your entitlement and it should work.

[2018-10-10 21:48] Prativa20 commented on #91
@hobovirtual @VincenzoDo this issue has been fixed and merged. Please pull the latest code and try.
Thanks

[2018-10-10 23:57] hobovirtual commented on #91
Hi @Prativa20

Everything is working as expected with the latest pull.

Thanks!

[2018-10-11 09:33] Prativa20 commented on #89
This issue is fixed.

[2018-10-11 09:33] #89 closed

[2018-10-11 09:34] Prativa20 commented on #87
Validating the component names in the resource configuration during create and update

[2018-10-11 09:34] #87 closed

[2018-10-15 00:28] Prativa20 commented on #95
@guizello This looks like #52. Can you please make sure you are following all the steps mentioned in #52 and see if that fixes this issue?

[2018-10-15 06:43] VincenzoDo commented on #93
Sure, I can confirm the VM exists and was not deleted previously.

[2018-10-15 09:54] guizello commented on #95
Hello,

I'm pretty sure that I did, but I'm gonna try to do it again.
I Just won't be able to do it after the next 15 days.
I'll let you know, thanks again

Guillaume

On Oct 15, 2018, 02:28, at 02:28, Prativa Bawri <notifications@github.com> wrote:

[2018-10-15 19:30] Prativa20 commented on #77
@g1ps @hobovirtual Added a new field in the configuration file, "businessgroup_name", that takes the name of the BG, so that you don't have to look for the corresponding id using the APIs.

[2018-10-16 13:54] hobovirtual commented on #77
@Prativa20 tested and worked as expected.
Thanks!

[2018-10-19 20:31] Prativa20 commented on #93
@VincenzoDo Can you also verify if Destroy Deployment action is enabled for in entitlement?

[2018-10-22 06:41] VincenzoDo commented on #93
@Prativa20 The destroy deployment action is enabled, I can destroy the deployment from the UI.

[2018-10-23 22:46] Prativa20 opened #96 "Subsequent update failures on a successful request , removes the request id in the state file"
Failed update of a request should not remove the original request id from the terraform state file

[2018-10-25 21:09] Prativa20 commented on #93
@VincenzoDo I could not reproduce it and the console logs here are also not very useful. I will create a PR with some more debug logs. And you can with the latest code.

[2018-10-27 00:17] Prativa20 commented on #97
Fixed as part of #98

[2018-10-29 13:14] guizello commented on #95
Hello again, i've installed last 1.11 go version, relaunched dep ensure and rebuilt plugin.
Everything's fine indeed now. Sorry for that.
Thanks for your help !

[2018-10-29 13:37] mihail-sky commented on #50
Faced the same error, compiled a new vra7 binary following the instructions in https://github.com/vmware/terraform-provider-vra7 and that fixed it.

[2018-10-30 13:53] VincenzoDo commented on #93
@Prativa20 Ok, I will wait for the PR

[2018-10-30 23:00] Prativa20 commented on #93
@VincenzoDo Can you try with the latest code? I have added debug logs as part of #100
Please attach the vra-terraform.log file.
Thanks!

[2018-10-31 01:20] Prativa20 commented on #84
Updates:
1. Modularize the code - In progress (separated schema, utilities, some API calls)
2. Add utilities - In Progress
3. Add constants - Mostly done as part of #98 (added string, error/success messages, APIs as constants)
4. More logs - Mostly done as part of #98

[2018-11-01 15:48] VincenzoDo commented on #93
@Prativa20 destroy action still fails, here you can find the log for the destroy part:
[tflog_destroy.txt](https://github.com/vmware/terraform-provider-vra7/files/2539133/tflog_destroy.txt)

[2018-11-02 06:13] Prativa20 commented on #101
@kumar5393 Can you please attach the vra-terraform.log file as well?

[2018-11-02 12:33] kumar5393 commented on #101
[vra-terraform.log](https://github.com/vmware/terraform-provider-vra7/files/2542413/vra-terraform.log)
@Prativa20 Attached.

[2018-11-05 20:10] Prativa20 commented on #101
@kumar5393 Can you export the BP and attach? Will need more information about the property "Quota".

[2018-11-05 20:10] Prativa20 commented on #101
@widdix123 Can you please share the vra-terraform.log file and the console log?

[2018-11-06 19:47] Prativa20 commented on #93
@VincenzoDo The log says that the destroy action template required for deleting the resource is not available. And that is the reason destroy is failing. I could reproduce this only when Destroy Machine action is not enabled in the entitlement. But as you mentioned, that it is not the case with your setup. I will open a PR to check in the first place if a destroy is allowed on the resource. If yes

[2018-11-06 22:01] Prativa20 commented on #101
@kumar5393 Is this the same Quota error issue or some other failure? Can you please provide more description?

[2018-11-13 23:48] Prativa20 commented on #93
@VincenzoDo I have created a PR for this which is in review  #103

[2018-11-14 12:36] VincenzoDo commented on #93
@Prativa20 I've tested the PR, and get the following when I try to destroy: "* vra7_resource.example_machine1: The deployment base-16198567 cannot be destroyed, your entitlement has no Destroy Deployment action enabled" but as you can see from this screenshot I have the destroy deployment action enabled:
![image](https://user-images.githubusercontent.com/11388017/48482903-37eaf300-e812-11e8-8a6f-f

[2018-11-15 21:12] Prativa20 commented on #93
@VincenzoDo I couldn't reproduce this in my environment. We can have a call to see what is going on.

[2018-11-27 23:18] Prativa20 opened #107 "Split out SDK/APIs to a different package to conform to Hashicorp provider development guidelines"
Move SDK to different package

[2018-11-30 15:26] hobovirtual opened #110 "Terraform Crash following provider update 109"
[crash.log](https://github.com/vmware/terraform-provider-vra7/files/2633917/crash.log)
[vra-terraform.log](https://github.com/vmware/terraform-provider-vra7/files/2633918/vra-terraform.log)

After updating provider with latest commit terraform apply is crashing with the same declaration file on centOS 7.5

Terraform apply

!!!!!!!!!!!!!!!!!!!!!!!!!!! TERRAFORM CRASH !!!!!!!!!!!!!!!!!!!!!!!!!!!!

T

[2018-11-30 16:50] hobovirtual commented on #78
Hi @idoru78

Not sure if you're still having the issue or not, but if you do can you show the content of the definition made in the Datacenter Location XML?

Default Path
C:\Program Files (x86)\VMware\vCAC\Server\Website\XmlData\DataCenterLocations.xml

Thanks!

[2018-11-30 16:53] markpeek commented on #110
I'm assuming you built after upgrading to this [commit](#109 c56915cd5b41ad8b37a6eb77e710ecb2fcdf65f4). This moved away from using vendored code or a GOPATH environment. I've seen that crash before and I believe it has to do with a mismatch of terraform code between terraform and a plugin (likely in your GOPATH). Two things you could try to work around it. 1) clone this code outside of your GOPATH

[2018-11-30 16:54] hobovirtual commented on #76
FYI

In my case the output field was corrected after refreshing properly my terraform provider installation/setup

[2018-11-30 19:05] hobovirtual commented on #110
Hi @markpeek

Tried the following with same results

Delete current GOPATH content and reconfigure
export GO111MODULE=on
New build in alternate GOPATH

[code]

[2018-12-03 19:49] Prativa20 commented on #110
I built my code with the latest code in GOPATH/src (as before) and export GO111MODULE=on. It works for me.

Go version to: go version go1.11.2 darwin/amd64
Terraform version: Terraform v0.11.7

[2018-12-03 19:53] Prativa20 commented on #107
Thanks @maelvalais for pointing this out. This is another requirement for the certification. I will open a separate issue for this.

[2018-12-03 21:08] markpeek commented on #110
I tried reproducing and it worked fine for me as well.

@hobovirtual you appear to be using Linux (CentOS 7.5 per above comment). The crash log is showing the terraform binary is being run out of "/usr/bin/terraform" and there is a plugin override coming from a .terraformrc file mapping the vra7 provider to "/root/TerraformPluginProject/bin/terraform-provider-vra7". Is that the correct location fo

[2018-12-03 21:14] hobovirtual commented on #110
Hi @markpeek

It's exactly right, my provider is located on this install under my home folder, root for this lab machine.

Will try to debug more and re-revalidate my installation

[2018-12-05 18:29] maelvalais opened #113 "JSON requests are only made of strings, no integers or booleans"
For example, with the sample
[code]

Internally, Terraform parses the `Linux.cpu` as a string, as specified by the last `schema.TypeString` in

https://github.com/vmware/terraform-provider-vra7/blob/c56915cd5b41ad8b37a6eb77e710ecb2fcdf65f4/vrealize/schema.go#L257-L266

These right-value strings stay as is until the JSON serialization:

https://github.com/vmware/terraform-provider-vra7/blob/c56915c

[2018-12-10 21:35] markpeek commented on #111
Fixed via #112

[2018-12-11 17:05] Prativa20 commented on #113
@maelvalais Thanks for bringing this up. Although we haven't seen any issue around this yet while provisioning from terraform, but this is a valid issue. Could you reproduce this error? If yes, please share the config. And sure, if you want, please go ahead and open a PR, else we can fix it as well :)

[2018-12-15 15:30] maelvalais commented on #113
Thank you for your attention! 🙂

I will try to reproduce and document the behaviour asap. In fact, we are planning on extend your project in order to take into account the many specific features of our vRA7 instance. From what I know of the specifications for the provider we want to have, we might have to "hard fork", meaning that it will be hard or impossible to propose pull-requests or to pull c

[2018-12-17 14:53] guizello opened #115 "VM ok in VRA but Terraform timeout without any "Complete" info"
I'm sorry but i have the same issue #73  but updating the vra plugin did not solve the problem.
My VM is well available in the portal  but Terraform didn't return a "Complete" information and crash because of the configured timeout..

✔  15:46 ~ [ master | ✚ 1 ] $ terraform --version
Terraform v0.11.11
+ provider.vra7 (unversioned)

✔  15:46 ~/TerraformPluginProject/src/github.com/vmware/terraform

[2018-12-18 21:52] Prativa20 commented on #115
@guizello Did the execution time out or it crashed? And when you say "Complete" info, what kind of info is missing?

[2018-12-18 22:16] guizello commented on #115
The terraform apply timed out (because there is a Timeout configured) and crashed whereas the vm was created in vra. It seems that terraform couldn't get any info from vra about the status of the request. Whatever is the Timeout configured, it will crash at the end. If I put 60min, it will timed out and crash.

⁣Guizello

On Dec 18, 2018, 22:52, at 22:52, Prativa Bawri <notifications@github.com> w

[2018-12-18 23:52] Prativa20 commented on #115
@guizello Can you please attach the vra-terraform.log and crash.log?

[2018-12-20 01:43] dzilbermanvmw commented on #116
![k8s_master_nodes_request_form](https://user-images.githubusercontent.com/42846514/50258658-7fd2dc00-03b5-11e9-8e2e-fa3668569ed7.jpg)
[vra-terraform.log](https://github.com/vmware/terraform-provider-vra7/files/2697098/vra-terraform.log)

[k8s-calico-cava - Copy.tf.txt](https://github.com/vmware/terraform-provider-vra7/files/2697099/k8s-calico-cava.-.Copy.tf.txt)

[2018-12-20 14:40] hobovirtual commented on #116
Hi @dzilbermanvmw

The property name for number of instances is

`Node._cluster = 4`

Try this and let me know if it works.
Thanks!

[2018-12-20 20:13] dzilbermanvmw commented on #116
Thanks @hobovirtual - looks like this suggestion worked, just wonder where did tat property '_cluster' came from? The attached version of the TF did initialize proper request with 4 node VMs, the terraform show reflects that:
C:\DEV\terraform_ws>terraform show
vra7_resource.Daniel_test_K8s_cluster_deployment:
  id = 1961573f-d089-4d4c-8496-c1550151d540
  catalog_configuration.% = 2
  catalog_confi

[2018-12-21 19:34] dzilbermanvmw commented on #116
I have also tested with another vRA 7 Blueprint containing multiple Nodes - vROPS cluster, see TF config file attached. I am not getting issues with Node count, but there is a blueprint level property 'gobuild_product_vrops_number' (not tied to any VM but to BP/Depl
[vrops-multivm-cava.tf.txt](https://github.com/vmware/terraform-provider-vra7/files/2703994/vrops-multivm-cava.tf.txt)
oyment as a wh

[2018-12-21 23:47] Prativa20 commented on #116
Hi Daniel,

Putting the custom deployment level property under catalog_configuration will solve this issue.

catalog_configuration = {
    _leaseDays = "20"
    _number_of_instances = 1
    gobuild_product_vrops_number = ######
  }

Please let me know if it works

[2018-12-26 13:55] guizello commented on #115
Sorry for the late, i don't have any crash.log because it doesn't crash. It just timeout (i've configured 10min).
Here is the alog attached :
![log](https://user-images.githubusercontent.com/5029347/50447854-41da3880-091e-11e9-8ec1-e7edf6b44082.PNG)

[2019-01-02 09:53] guizello commented on #115
Yes i agree. I just don't know why the status doesn't change.
Here are the attached files.
[main.tf.txt](https://github.com/vmware/terraform-provider-vra7/files/2720376/main.tf.txt)
[UI.txt](https://github.com/vmware/terraform-provider-vra7/files/2720377/UI.txt)
[vra_terraform.log.txt](https://github.com/vmware/terraform-provider-vra7/files/2720378/vra_terraform.log.txt)

[2019-01-02 11:15] guizello commented on #115
Allright, my bad. Everything's fine now..
The reason of this was because my url host was not ok.
"https://xxxxxx/vcac" instead of "https://xxxxxx"
I didn't get the reason of "Resource view failed to load:  invalid character '<' looking for beginning of value" and why i didn't have a "in progress" action.
Maybe a host/url check or better information in the log would be great.
Sorry about that and t

[2019-01-02 11:15] #115 closed

[2019-01-14 23:54] d-luu opened #117 "Implement semver tags to allow for go module usage"
Can we get a semver tag on a release build? I am using this provider as part of a project that utilizes go modules but it require packages to be semantically versioned. I would like to avoid extra tooling if possible. Thanks

[2019-01-15 01:40] markpeek commented on #117
@d-luu I'm assuming tagging the current top of master with "v0.0.1" would do what you wanted, correct?

Please note that some breaking changes are likely coming with Issues such as #107. Out of curiosity, what interfaces are you using for your project?

[2019-01-15 16:39] d-luu commented on #117
v0.0.1 would work fine

As for the changes coming in https://github.com/vmware/terraform-provider-vra7/issues/107, I will cross that bridge when the time comes.

For interfaces, I actually call the Terraform API (along with provider APIs) rather than using the CLI as I do some data verification amongst other things.

[2019-01-23 21:31] thehouseplant commented on #118
We are seeing the same thing whenever we populate either the `catalog_configuration` block or the `resource_configuration` block.

[code]

[2019-01-23 22:24] robinkempema commented on #118
You need to leave out the deployment_configuration as well.  This will not work for our users.  They need some of those parameters.

[2019-01-23 22:32] thehouseplant commented on #118
I actually found a way around this. I rolled back to an earlier version, before the team moved away from using `dep` for dependency management. I built from source at that snapshot and the binary is now functioning as intended.

[2019-01-24 14:17] robinkempema commented on #118
I have an old version pre dep that is functioning as intended as well.

[2019-01-25 07:44] maelvalais commented on #113
Hi! 👋
I must close the issue for now as I (kind of) abandonned this idea. I’ll try later 🙂

Thank you for your kindness and your work!!

[2019-01-25 07:44] #113 closed

[2019-01-29 23:05] pezhore commented on #118
@thehouseplant do you know what version/commit of the provider worked for you/had the functioning dependency management?

[2019-01-29 23:14] thehouseplant commented on #118
@pezhore https://github.com/vmware/terraform-provider-vra7/tree/15406fbeb1ba0050f2eaa813da6e34cda2f12322 was the commit.

[2019-01-29 23:15] hobovirtual commented on #118
Hi

I had a similar on my centOS machine after the latest commit, have you look into #110 maybe it will work for you as well!

Thanks!

[2019-01-30 12:39] robinkempema commented on #118
Yes, I have run the additional commands as per #110.  I though it might be something with the terraform or go install, so I have both version on the same machine using the same go and  terraform.  The current plugin does not work and the 'pre-dep' plugin functions as expected.   I also tried a installing on a new machine running the #110 commands before even starting .. still crash.

[2019-01-30 15:03] thehouseplant commented on #118
Just to make sure we've eliminated the issue, you do have `dep` installed right? What version of that are you running? I'll check my other machine here in a bit and see as well.

[2019-01-30 22:02] robinkempema commented on #118
go1.10.3
Terraform v0.11.7
dep:
 version     : v0.5.0

The current version of the vra plugin does not specify that dep should be installed. So I did not install it on the server.  I get the error 'EOF'.   If I run on a machine with dep it has the same 'EOF' error.

[2019-01-30 22:05] thehouseplant commented on #118
I am running go 1.11.4 with dep 0.5.0 and was able to do a `dep ensure` and then `go build ...` with the commit that I linked above. That compiled binary was what I used to then re-run and avoid the `EOF` error. Are you updating the binary in location you specified in your `.terraformrc` file?

[2019-01-30 22:13] robinkempema commented on #118
I have an version of the plugin that I have complied that is working prior to the removal of the dep.  So what exactly is the version in your link?

[2019-02-06 14:36] robinkempema commented on #118
I created a new server
- CentOS Linux release 7.6.1810
- go version go1.11.5 linux/amd64
- Terraform v0.11.11
I ran the install per the documentation and it crashed.   I deleted the GOPATh TerraformPluginProject directory.  I then did the export GO111MODULE=on and export CGO_ENABLED=0 .  Reran the build.  Still crash.  I will create a new server and try again.  I just want to be sure of the order

[2019-02-06 14:52] thehouseplant commented on #118
I see that you are referencing `GO111MODULE`, but that was the issue causing it to fail. The only way I got around it was using the last commit _before_ they went to using Go modules. Doing it that way also required a working install of `dep`, which the project used at that time. Then I grabbed a copy of the files at that commit, re-ran the build, and was able to use the compiled binary.

[2019-02-06 21:50] Prativa20 opened #120 "Remove the sling library and use the basic golang net/http"
This will make debugging easier and also splitting of the sdk, required for Hashicorp certification will be easier

[2019-02-06 21:54] robinkempema commented on #118
We are at the same point.  We both have working copies that are prior to the removal of  dep.  What is the ETA for a fix for the 'current' version?  Any idea?

[2019-02-07 10:16] Adam2Marsh commented on #118
Thanks @thehouseplant using the old version fixed the issue for me.

[2019-02-07 14:54] thehouseplant commented on #118
@Adam2Marsh - No problem, glad it's working for you. @robinkempema - I am wondering the same thing. While this project lives on the official VMware org, I don't see a lot of movement so I am assuming it's more of a side thing at this point. I was going to fork the project at that commit and just maintain one locally for our company, but we'll see how much of an issue that becomes long-term.

[2019-02-08 01:37] #110 closed

[2019-02-08 05:01] markpeek commented on #117
Sorry for the delay. I just tagged v0.0.1 before we split out the sdk and other changes.

[2019-02-08 05:01] #117 closed

[2019-02-11 21:39] Prativa20 commented on #118
For Linux based system, I follow these steps, and it works for me all the time. This is without using go dep.

1. Install Golang (my version is 1.11.5 darwin/amd64)
2. Create a go workspace (say ~/go_workspace)
3. export GOPATH=~/go_workspace
4. Clone the provider repository to some location (say, ~/vra_terraform) git clone 5. github.com/vmware/terraform-provider-vra7
6. cd ~/vra_terraform/terrafo

[2019-02-12 01:56] hobovirtual commented on #118
Thanks @Prativa20

I had the issue as well and with the information you provided I was able to make it work, if this can help anyone, here's what i did on a brand new  CentOS 7.5 machine, should work on most linux distro.

Please feel free to modify for your own environment or remove whatever you don't need

[code]

[2019-02-15 18:20] bnfbiz opened #123 "Plugin failes to lookup status of action"
**vRA 7.x version**
7.3.1
**Terraform version**
v0.11.11
**terraform-provider-vra7 plugin version**
5855f3c9a86c12f0a002857610d7bbcb22fe95a4

**Describe the bug**
Receiving the following error message when terraform is checking the status "Resource view failed to load:  invalid character '<' looking for beginning of value"
The apply does kick off, destory gives the same error

**To Reproduce**
Run

[2019-02-20 01:40] vaficionado commented on #124
Hi @jasonlivie  - thanks for the detail here. Can you provide some more info on the reproduction steps, environment and answer a few quick questions? It would be helpful if you could:

- Export the blueprint you're using within vRA and attach it here
- Give some details about the template OS/configuration you're trying to deploy

Also, can I infer from your variable names that you are integrating

[2019-02-20 21:28] jasonlivie commented on #124
Hi @vaficionado

When deploying VMs, we are requesting them with different hostnames (and possibly other values), yet when we look in the vRA UI, both requests come in with the same values. Instead of seeing 2 distinct requests, we see 1 request being sent twice. This is why our requests are failing with a duplicate machine name

* Please find the blueprint attached
* We are deploying a single mac

[2019-02-20 21:32] Prativa20 commented on #123
@bnfbiz Looking into it...

[2019-02-20 21:33] vaficionado commented on #124
Very interesting. @Prativa20 have you seen this before?

[2019-02-20 22:21] Prativa20 commented on #124
@vaficionado Yes, I could reproduce this issue. When I requested two resources with different configuration, 2 exact same deployments were created. This is a bug. Looking into it.

Thanks,
Prativa

[2019-02-20 22:28] Prativa20 opened #125 "The vra7_resource name provided in the terraform config doesn't take any affect. It should replace the default deployment name"
**vRA 7.x version**
7.5
**Terraform version**
0.11.11
**terraform-provider-vra7 plugin version**

**Describe the bug**
The vra7_resource name provided in the terraform config doesn't take any affect. It should replace the default deployment name

**To Reproduce**
Steps to reproduce the behavior:
1. The tf config file
### `resource "vra7_resource" "Prativa_test_deployment" {
  count = 1
  catalog_n

[2019-02-21 15:58] bnfbiz commented on #123
did you try having the host with  the suffix /vcac/<tenant name>?

[2019-02-25 19:02] Prativa20 commented on #126
@leander091 Looks like in your blueprint, the machine name is not VirtualMachine, it is something else.
This machine/component name should match with the name specified in the blueprint.

You can use APIs to export the Blueprint and get the correct component/machine name from there.

[2019-02-25 19:05] Prativa20 commented on #123
@bnfbiz The host should not have the suffix vcac. It should just be "https://host"

[2019-02-25 19:10] hobovirtual commented on #126
Hi @leander091

Can you provide the content of your .tf file?

It looks like your declaration is missing the the component named as defined in the blueprint.

For example, i have a blueprint that deploys a vm, the name of the component is vm1 (see picture)
<img width="589" alt="image" src="https://user-images.githubusercontent.com/20516722/53357471-fa5f3100-38fb-11e9-8e7b-3b2d82f4cc46.png">

Here'

[2019-02-25 19:17] bnfbiz commented on #123
I understand that, I think there should be a code fix to at a minimum warn of the misconfiguration.  The problem is is partially worked and that is the problem, if it didn't work at all, I would have caught the problem much sooner than the blueprint creation started but the status couldn't be checked successfully.

[2019-02-25 19:21] leander091 commented on #126
@hobovirtual  I have already included my configuration in the initial post.
@Prativa20  Thanks for the explanation, I did not know that I needed the machine name from the VRA Blueprint.

I'm going to test it with the name of the blueprint in my .tf file.   And report the results

[2019-02-25 19:42] Prativa20 commented on #123
@bnfbiz Agreed! We can add this validation in the code.

Thanks,
Prativa

[2019-02-26 20:42] mponton commented on #124
@Prativa20 I work with @jasonlivie and was looking at the code, I think the issue is that all of these:
[code]
Are globals inside the `vrealize` module.

When more than one request comes in, values are overwritten:
[code]
In the above, when the line ...
[code]
...starts, it overwrites previous values before any request is even submitted.

Unless I am mistaken, I see two options to fix:
1. A somewh

[2019-02-26 21:04] markpeek commented on #124
@mponton thank you very much for the debugging and tracking down this issue. I'm sure your analysis is correct around the use of those global variables.

@Prativa20 has been working on cleaning up the code and rewriting it on this [branch](https://github.com/vmware/terraform-provider-vra7/tree/no_sling). To your solution #1, please see this [code](https://github.com/vmware/terraform-provider-vra7/

[2019-02-26 22:10] mponton commented on #124
@markpeek This is great! I will give it a go later this week, thanks!

[2019-02-27 15:34] markpeek commented on #124
FYI...just merged #119 into master. Please verify and report back to this issue when you have time. Thanks!

[2019-02-27 21:44] leander091 commented on #126
Issue solved, the name of the blueprint was indeed the solution.

Thanks for your help!

[2019-02-28 00:12] Prativa20 commented on #107
Addressed this as part of #119

[2019-02-28 00:12] #107 closed

[2019-02-28 00:12] Prativa20 commented on #120
Addressed this in #119

[2019-02-28 00:13] Prativa20 commented on #84
Closing this as all these issues has been addressed.

[2019-02-28 00:13] #84 closed

[2019-02-28 00:14] Prativa20 commented on #126
@leander091 awesome! Closing the issue

[2019-02-28 00:15] #120 closed

[2019-02-28 02:52] mponton opened #129 "Plugin does not handle API response paging"
**vRA 7.x version**
7.4

**Terraform version**
Terraform v0.11.11

**terraform-provider-vra7 plugin version**
https://github.com/vmware/terraform-provider-vra7/pull/119

**Describe the bug**
The plugin does not handle paged responses. In my case, `ReadCatalogItemNameByID` returns more than 20 items (32 in my case). The catalog item name I am looking for is not in the first 20 items, as such, the p

[2019-02-28 02:54] mponton commented on #124
@markpeek Tried to test this tonight but hit another issue (#129) that stopped me (well, I could surely work around it but ran out of time troubleshooting this new one). Will try to check this again tomorrow.

/CC @Prativa20 @jasonlivie

[2019-02-28 05:20] markpeek commented on #129
Oh, that's a good one. Thanks for reporting it.

[2019-02-28 14:18] mponton commented on #124
OK, so this morning I used `catalog_id` to get around issue #129 and requested 2 VMs in parallel and the fix seems to work. I will ask @jasonlivie to confirm on his side as well. But looking good! Thanks a lot for this @Prativa20 and @markpeek.

[2019-02-28 15:57] jasonlivie commented on #124
I confirm that I am now able to perform builds in parallel. This last merge did the trick. Thanks to @Prativa20 @markpeek @mponton for your help.

[2019-02-28 16:07] vaficionado commented on #124
Awesome news. Thanks for confirming

[2019-02-28 21:42] Prativa20 opened #130 "Updating a deployment general properties like description and reasons not supported"
**Describe the bug**
Updating the description and reasons of a provisioned deployment is not supported

**To Reproduce**
Steps to reproduce the behavior:
1. Provision a request using terraform apply
2. Change the description and reasons and apply again
3. The deployment is not updated with the new information

**Expected behavior**
Deployment should be updated with the description and reason

[2019-03-01 10:16] nferro commented on #131
Looks good, as this would be a breaking change my suggestion is to keep the old `vra7_resource` around as deprecated so it won't break previous deployments.

[2019-03-01 13:39] mponton commented on #131
@Prativa20 I definitely prefer the new  `resource_configuration` syntax. Having to repeat the resource name is a bit redundant. I agree with the other changes as well (I see how they better match the template schema). I see @nferro 's point but I feel trying to keep things working both ways may make the code harder to maintain. However I'll be very honest, I am not objective since we don't enough

[2019-03-01 13:52] hobovirtual commented on #131
Hi @Prativa20

I definitely feel the proposed structure is more adequate and make it easier to consume/define. Removes a lot of redundant definition.

I also feel the same as @mponton for the backward compatibility. I understand @nferro points as well.

Looking forward!

[2019-03-01 15:31] mponton opened #132 "catalog_name change detected if only catalog_id is used to deploy a resource on 2nd execution of tf apply"
**vRA 7.x version**
7.4

**Terraform version**
Terraform v0.11.11

**terraform-provider-vra7 plugin version**
#119

**Describe the bug**
I am using `catalog_id` to specify the blueprint to use in a deployment to work around #129 and noticed that if I `apply` against an already provisioned resource, I get the following:

[code]

If I continue I get something like:
[code]
In the end, nothing is real

[2019-03-01 15:42] mponton commented on #132
**UPDATE:** When I tested the above, I said:

But I reported that WITHOUT running the apply. Actually having both fields is an issue when CREATING a resource since the `catalog_name` is looked up (and fails due to #129) but the `catalog_id` is ignored.

So in my case, having both fields will produce this error:
[code]
But having only `catalog_id` works for creation but produce unnecessary changes

[2019-03-01 16:40] robinkempema commented on #118
It took me some time to get around our firewall for the go build.. But the above worked to install the new version.   Hopefully, there is more simple solution in the works.   :)

[2019-03-05 15:37] sametimesolutions opened #133 "Confusion creating multiple instances"
There are a couple of ways to create multiple instances using the VRA provider.
1) Using the _cluster property:
resource "vra7_resource" "my_vmware_node" {
  wait_timeout = "${var.my_vmware_node_timeout}"
  catalog_name = "my_vmware_node"
  resource_configuration {
    vSphere__vCenter__Machine_1.memory = "512"
    vSphere__vCenter__Machine_1.cpu = "1"
    **vSphere__vCenter__Machine_1._cluster =

[2019-03-11 20:36] bill-rich commented on #131
Looks like a good plan @Prativa20. Why the leading underscores though in `_leaseDays` and `_number_of_instances`?

[2019-03-11 20:44] Prativa20 commented on #131
@bill-rich These attribute names are mapped to the fields in the API, so, this is what the vRA API expects them to be.

[2019-03-12 19:09] #129 closed

[2019-03-12 23:49] bill-rich commented on #131
I'll check into if there is an official stance on it, but I think dropping the leading underscore would fit better in the Terraform naming scheme even if it doesn't exactly match what will be used for the API.

[2019-03-16 20:30] leander091 opened #136 "Returning dynamic IP-address from VRA to Terraform"
**vRA 7.x version**
7.4
**Terraform version**
 v0.11.11
**terraform-provider-vra7 plugin version**
master

**Describe the bug**
I'm trying to execute the remote-exec provisioner on a machine created with the provider.  The machine has created successfully but the provisioner  fails because of the missing ip-address.

Is it possible pause executing unit VRA has received the ip-address?
I can update

[2019-03-18 18:46] ScriptXaaS opened #138 "Multiple-instance deployment failure"
vRA 7.5
Terraform 0.11.13
Terraform-provider-vra7 plugin version: commit 15406fb

In a single-machine multiple instance deployment (e.g 2 instances).  Both deployment instances would log in vRA Deployments as two identical requests, instead of two different requests shown in terraform plan.   The first one will success and the second request would fail due to its duplicity.

Steps to reproduce the

[2019-03-20 07:55] MichaelPak opened #141 "CPU & Memory settings for vm not working"
## Versions
|Tool|Version|
|-|-|
|vRA|7.3.1|
|terraform|0.11.13|
|provider|master|

## Problem
In vRA I have test blueprint:
<img width="914" alt="Снимок экрана 2019-03-20 в 10 49 07" src="https://user-images.githubusercontent.com/1166992/54667603-ce4f5e00-4afd-11e9-86fc-703cdb84838f.png">

Also, I have `terraform resource`:
[code]

But after `terraform apply` I get vm with default resource config

[2019-03-20 18:42] Prativa20 commented on #141
@MichaelPak I tried it and I am not able to reproduce this issue. Can you try updating and see what happens?

[2019-03-20 18:46] ScriptXaaS commented on #138
It appeared the problem is rooted in tree commit used.  Following the CentOS 7.5 compile steps reported on issue #118, I cross compiled an amd64 windows provider, which resolved the issue reported here.

[2019-03-20 19:49] ScriptXaaS commented on #138
I was unable to compile a working Windows Provider from Master in Win10 OS.  Terraform Windows  Provider would always crash at terraform init.  Cross compilation seems to be the only way out.  Following hobovirtual's steps in issue #118, to cross compile for windows provider, you may do the following additional steps:
1. GOOS=windows GOARCH=amd64 go install
2. GOOS=windows GOARCH=amd64 go build -o

[2019-03-20 19:49] #138 closed

[2019-03-20 19:53] ScriptXaaS commented on #118
For those interested in compiling a Windows provider, you may reference the findings I reported at issue #138

[2019-03-20 20:15] Prativa20 commented on #133
@sametimesolutions From your use-case, 1 is the right way to do it.
But, I will have to investigate why terraform show is not showing the states of these two machines separately. Will get back to you

[2019-03-20 22:40] carlosaya commented on #74
any updates on this issue?

[2019-03-21 09:34] MichaelPak commented on #141
You mean update vRA?

[2019-03-21 18:11] Prativa20 commented on #141
No, I mean update your deployment by changing something in the config file and do a terraform apply

[2019-03-21 22:14] Prativa20 commented on #136
@leander091 Yes, you are right, the ip_address is not assigned as soon as the resource creation is successful. Looking into this issue.

[2019-03-22 20:23] Prativa20 commented on #136
Hi @leander091 I was looking if terraform provides a way to add a pause or delay. I have found this
https://github.com/hashicorp/terraform/issues/2689 and https://github.com/hashicorp/terraform/issues/17726

It says you can write a local_exec provisioner.

Let me know if this helps your use case.

Thanks,
Prativa

[2019-03-22 21:32] leander091 commented on #136
Hello @Prativa20  Thanks for the update, i am going to add a local_exec  provisioner to pause the executing until the VRA data collection has finished en the IP is returned.

I will keep you posted

[2019-03-25 20:27] apipawho commented on #74
How are you getting the proper names for the values needed in the XaaS blueprint for catalog configuration ? I have several XaaS blueprints, and in them are validations (i.e. external API/DB lookups).

[2019-04-01 19:15] sametimesolutions opened #142 "Add the ability to read VRA credentials from environment variables."
It would be helpful to allow vra server credentials to be read into the resource provider from environment variables at provision time. This would keep the user from having to store them in a terraform file and possibly checked into a repository.

[2019-04-01 20:42] mponton commented on #142
@sametimesolutions You can already do this. For example, in your `provider.tf` file you can put:
[code]
Then:
[code]

I made this function you can source from your `.bashrc` when working with terraform interactively:
[code]
When you want to work with terraform using the vRA7 plugin, call `tf_vra` from the prompt to setup your environment.

[2019-04-02 15:24] sametimesolutions commented on #142
Thank you for the quick reply. Will give it a try.

[2019-04-05 22:28] Prativa20 opened #143 "Update and Delete deployment request status is not updated in the provider properly"
**vRA 7.x version**
vRA 7.5
**Terraform version**
The terraform version
0.11.13
The terraform-provider-vra7 plugin version (e.g. commit id, etc.)

**Describe the bug**
When updating or deleting the provisioned resource, the status of the request is not updated and the provider returns immediately while the request is still in progress.

**To Reproduce**
Steps to reproduce the behavior:
1. Provisio

[2019-04-09 08:35] #143 closed

[2019-04-09 08:39] Prativa20 commented on #131
The proposed changes has been implemented except 5 (check the description of this issue for detail). Current version of terraform does not support map of maps in their resource schema. Once it will be supported, we will make the changes for 5.

Closing the issue

[2019-04-10 22:33] bill-rich opened #147 "Provider Review"
Hello!

I’ve taken a look at the provider here and would like to say great work so far! I do have feedback outlined below that I’d like to see addressed before we move on to the next steps. I’m opening this issues as a sort of checklist for tracking remaining items and discussion. The review was done on the git commit 083de474f15dabab18533d4623cabfd664aa172e.

- [x] The schema and resource for `vr

[2019-04-11 19:12] Prativa20 commented on #147
Thanks @bill-rich for the quick review.
Starting to make the changes soon.

[2019-04-11 20:42] Prativa20 commented on #147
https://github.com/vmware/terraform-provider-vra7/pull/148

[2019-04-12 08:04] jripault opened #150 "Invalid component name when using XaaS blueprint"
**vRA 7.x version**
7.5
**Terraform version**
0.11.3
**terraform-provider-vra7 plugin version**
0.1.0

**Describe the bug**
I have a XaaS Blueprint using a simple form.
The request template is this :
[code]

In TF file, I define the resource like this:

[code]

when terraform apply, I get the error :
`The resource_configuration in the config file has invalid component name(s): servicesNames, desti

[2019-04-16 21:47] Prativa20 commented on #147
Hi @bill-rich
Regarding **"There are no required attributes in the schema. Is that accurate?"**

One of the attributes, catalog_item_name or catalog_item_id is required and not both of them. So, we have kept it optional

[2019-04-17 07:57] Prativa20 opened #154 "Is wait_timeout attribute required?"
There is a wait_timeout attribute in the schema. Is there a real usecase that requires this?
Most of the terraform provider returns only when the resource request reaches a termination state, failed or successful. We want to follow the same with vra7_deployment resource as well.

Adding wait_timeout requires us to maintain another state, that is, in-progress and in maintaining this, we are hitting

[2019-04-17 11:04] hobovirtual commented on #154
Hi @Prativa20

Personally i think we should remove the wait_timeout, simplicity is key in everything. As long as the provider doesn't timeout on request, we don't need the wait_timeout option.

Thanks!

[2019-04-17 12:04] mponton commented on #154
Hi @Prativa20 , I agree with @hobovirtual, I would remove the option as well.

Thanks for involving us like that!

[2019-04-17 12:34] nferro commented on #154
We have a use case where the `wait_timeout` is useful: the that provides us VRA has some common integrations and only times out after 2h, however for the blueprints we use we know that every request taking more that 20m will fail. If we don't specify the `wait_timeout` we have to wait 2h before failing instead of 20m.

[2019-04-17 21:31] Prativa20 commented on #154
@nferro wait_timeout was introduced in #10 because depends_on was not working as expected.
The reason for that issue was that the provider was not waiting correctly for the request to complete.

But that has been fixed during the refactoring and the provider returns only when the status of the request reaches a terminal state. I have tested this with one of the depends_on use case without any wait

[2019-04-17 22:38] bill-rich commented on #147
Things are looking great and I think we're almost there. I found a couple more small things.

- [ ] The format on the version numbers in CHANGELOG.md is important as it is used in our build and release scripts. It should be like this `## 1.9.0 (October 31, 2018)` with no link for the version numbers, and the unreleased version should be this format: `## 1.10.1 (Unreleased)`

- [ ] Documentation lo

[2019-04-18 00:37] vaficionado commented on #154
@nferro can you confirm our assumption here?
- Your request will definitively fail in vRA after 2 hours, based on an integration timeout
- You know after 20 minutes based on your own experience that the request will fail, and the remaining 1h40 is essentially downtime waiting for the formal timeout to pass

[2019-04-18 02:21] nferro commented on #154
@vaficionado that’s correct.

Also, I believe it’s useful to be able to specify a timeout after which the provider will fail. You may very well say it’s a VRA issue but the users not always control that kind of integrations and should be able to fail as fast as they can.

[2019-04-19 21:43] Prativa20 commented on #147
Hi @bill-rich website/docs/r/BasicSingleMachine.yaml is used in the documentation and there is a reference to this file in there.

[2019-04-25 00:01] bill-rich commented on #147
Thanks for getting everything addressed! I believe the provider is ready to go. I'll let @cgriggs01 know.

[2019-04-29 16:59] cgriggs01 commented on #147
Hey @Prativa20,

Congrats on finishing up the review. There are just one more this we need to address. All official Terraform providers use a MPL2 License, would you be able to change the license from `MIT` --> `MPL2`

Thanks Chris!

[2019-04-30 22:28] markpeek opened #156 "Need to relicense from MIT to MPL2"
As part of the HashiCorp certification and moving this code into the terraform-providers organization, the license for this code needs to be changed from the current [MIT](https://github.com/vmware/terraform-provider-vra7/blob/master/LICENSE.txt) to [Mozilla Public License 2.0](https://github.com/hashicorp/terraform/blob/master/LICENSE) similar to that in terraform and providers.

To move forward,

[2019-04-30 22:51] cars commented on #156
I approve....

[2019-05-02 14:56] nferro commented on #156
Approved

[2019-05-02 16:57] Idanatcox commented on #150
we experience the same issue, did you manage to get around this?

[2019-05-03 07:42] sky-philipalmeida commented on #156
@markpeek sorry but I disapprove.
My contribution was only 1 commit and only documentation so I think you will be fine removing that.

[2019-05-03 14:16] markpeek commented on #156
@sky-philipalmeida commit has been reverted via 03ac9620eb254204f4086b432fac19b9ddf8f93c

[2019-05-04 16:02] MichaelPak commented on #156
Approved

[2019-05-06 15:40] jripault commented on #150
Not yet. I tried modifying the provider but no success right now. I'll do a PR if successful

[2019-05-06 17:55] markpeek commented on #156
Closed via #157

[2019-05-06 17:55] #156 closed

[2019-05-07 00:36] markpeek commented on #147
Closing due to move from VMware org to terraform-providers org.

[2019-05-07 00:36] #147 closed

[2019-05-09 19:11] javansickle commented on #150
We had a similar issue but got past it by moving the XaaS properties from the **resource_configuration** section to the **deployment_configuration** section.

[2019-05-09 20:47] javansickle opened #158 "Cannot pass string value to XaaS-blueprint field with type array/string"
**vRA 7.x version**
The vRA 7.x version where is issue is found.
**Terraform version**
The terraform version
**terraform-provider-vra7 plugin version**
The terraform-provider-vra7 plugin version (e.g. commit id, etc.)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Terraform config file
2. Terraform command
3. Error

*

[2019-05-09 20:49] #158 closed

[2019-05-09 21:09] javansickle opened #159 "XaaS Blueprint with array/string input fails with expected type 'string', got unconvertible type '[]interface {}'`"
**vRA 7.x version**
7.4

**Terraform version**
Terraform v0.11.11

**terraform-provider-vra7 plugin version**
provider.vra7 v0.2.0

**Describe the bug**
Have a simple XaaS Blueprint using a simple form.  The underlying vRO workflow has an input field type of array/string.  The corresponding form field (created by default) shows: entity type: sting and Type: text field.

In TF file, attempting to s

[2019-05-22 21:49] mcascone commented on #136
I have this exact problem. Replace `remote-exec` with `chef` in @leander091's example and it would be my example. I am trying everything i can find to inject a delay after the machine comes up but does not have its ip yet, no luck yet.

[2019-05-23 08:23] Adam2Marsh commented on #75
Has anyone recently been able to provision a new VM with an extra disk? Recently came back to a project after a few months and am having the same issue.

[2019-05-23 10:49] hobovirtual commented on #75
Hi @Adam2Marsh

You can add disk(s) during provisioning request by defining the builtin vRealize Automation in your resource_configuration section

Example below is adding a second disk of 5 Gb

[code]

Just tested this on vRA 7.6 and working as expected.

[2019-05-24 16:16] mcascone commented on #17
None of this is working for me.
[code]

[code]

gives error:
[code]

[2019-05-28 15:06] jripault commented on #150
Indeed it works with deployment_configuration
Thx

[2019-05-28 15:06] #150 closed

[2019-05-28 15:33] jripault commented on #159
Same problem here, but as the provider use a simple format (string for all fields), I don't think it could be adapted this easily.
I'm trying some tweaks but no good for the moment

[2019-05-29 06:22] jripault commented on #159
Seems like you need to implement your own resource because of typing. Can the devs confirm ?

[2019-05-29 15:05] vaficionado commented on #159
@Prativa20 can you take a look at this?

[2019-05-30 17:48] vaficionado commented on #159
@Prativa20 @markpeek I'm on the phone with @javansickle  right now - can we take a look at this? Seems like a data type mismatch

[2019-05-30 17:59] Prativa20 commented on #159
@vaficionado @javansickle looking into it..will update soon

[2019-06-03 18:36] mcascone commented on #136
I figured it out. I am now using the FQDN of the new VM. The key was understanding that my instance of vRA is set up so that the VMs are called `vSphere_Machine_1`. It's right there in the UI, as `Component Name`.

There were definitely some mental leaps involved, and I'm sure I had to have seen all the other examples and made all the mistakes i did in order for my brain to put it all together at

[2019-06-04 01:06] jam3s32 opened #160 "XaaS blueprint issue - Map of string required"
Hi there,

I'm trying to deploy a basic VM:
_resource "vra7_deployment" "TestingVM" {
    count        = "1"
    catalog_item_name = "HPaaS Microsoft Windows"
    reasons           = "Deployment"
    description       = "Deployment via terraform"
    resource_configuration = {
    // OSVersion = "Windows Server 2016"
    Site    = "SYD01"
    }
    wait_timeout = "5"
            }_

However when I

[2019-06-10 13:58] diogoferreirasky opened #161 "Doesn't work with Terraform version 0.12"
**Terraform version**
Terraform version 0.12

**Provider Version**
latest, commit: 50fbca71ae96b59a7885e98e8c4545c9c05cbd12

**Describe the bug**
Terraform Version 0.12 doesn't work with this provider.
"Error: Failed to instantiate provider "vra7" to obtain schema: Incompatible API version with plugin. Plugin version: 4, Client versions: [5]"

**To Reproduce**
Steps to reproduce the behavior:
1. I

[2019-06-13 17:42] hobovirtual commented on #136
Hi @Prativa20

Looks like the ip_address field in the resourceView is only loaded after a state collection.

Could we use the NETWORK_ADDRESS from the NETWORK_LIST data map instead, which is available right away?

[code]

[2019-06-18 16:10] mcascone commented on #161
I opened the same issue on the other repo for this. I don't know which one is the current supported repo. https://github.com/terraform-providers/terraform-provider-vra7/issues/13

[2019-06-20 14:58] hobovirtual commented on #136
FYI

Opened an issue on the [terraform-providers git page](https://github.com/terraform-providers/terraform-provider-vra7/issues/16)

Thanks!

[2019-07-01 15:28] RReivax commented on #160
Similar issue with Blueprint deployment:
[code]

**Output error**:
[code]

[2019-07-02 11:03] hobovirtual commented on #160
Hi @RReivax

Which version of the provider are you using?

Please try removing the double quotes, here's my declaration which is working with the latest version which can be found [here](https://github.com/terraform-providers/terraform-provider-vra7)

[code]

Thanks!

[2019-07-02 11:09] hobovirtual commented on #160
Hi @jam3s32

For Datacenter location you need to use this property in the resource_configuration section: Vrm.DataCenter.Location

Here's an example of my declaration with the [latest release](https://github.com/terraform-providers/terraform-provider-vra7).

[code]

[2019-07-02 13:54] RReivax commented on #160
Hi @hobovirtual thank you for the reply.

I build the provider from the master branch of this repository. I tried with the updated repository you linked me, but run into [this issue](https://github.com/terraform-providers/terraform-provider-vra7/issues/13) as well (`Error: Failed to instantiate provider "vra7" to obtain schema: Incompatible API version with plugin. Plugin version: 4, Client versio

[2019-07-02 13:57] hobovirtual commented on #160
HI @RReivax

There's a known issue with the provider and terraform 0.12.x
The team is working on addressing this, i'm using 0.11.13 at the moment until [issue #13](https://github.com/terraform-providers/terraform-provider-vra7/issues/13) is resolved

Thanks!

[2019-07-02 15:47] RReivax commented on #160
@hobovirtual Tested with Terraform 0.11.14 and working fine. Thank you.

[2019-07-10 09:19] akshatavijapur commented on #136
only terraform  version with 0.11.8 and 0.11.13 are having the vra7 plugin as default. with the latest version or any other version of terraform will not work.

[2019-07-11 19:06] mcascone commented on #136
I'm not sure what you're referring to here, could you elaborate?

[2019-07-15 15:47] JasonPodgorny opened #162 "Error: Reference to undeclared resource"
**vRA 7.x version**
vRA 7.4

**Terraform version**
**terraform-provider-vra7 plugin version**
# ./terraform -version
Terraform v0.12.4
+ provider.vra7 (unversioned)

**Describe the bug**
Creating a terraform config that follows the conventions found in the readme and in many online examples, it is now allowing to submit properties the request needs indicating the resource is not found in the root

[2019-07-15 16:50] markpeek commented on #162
Thank you for the issue. Working with terraform v0.12 is being tracked in the official repo via:
https://github.com/terraform-providers/terraform-provider-vra7/issues/13
https://github.com/terraform-providers/terraform-provider-vra7/pull/17

[2019-07-15 16:50] #162 closed

[2019-07-15 16:52] markpeek commented on #161
Thank you for the issue. There is an active PR tracking the work as well:
terraform-providers/terraform-provider-vra7#17

[2019-07-15 16:52] #161 closed

[2019-07-17 21:51] markpeek commented on #96
Reopened in terraform-providers repo. Closing.

[2019-07-17 21:51] #96 closed

[2019-07-20 01:40] ymmit85 opened #164 "Terraform Crash"
!!!!!!!!!!!!!!!!!!!!!!!!!!! TERRAFORM CRASH !!!!!!!!!!!!!!!!!!!!!!!!!!!!

Terraform crashed! This is always indicative of a bug within Terraform.
A crash log has been placed at "crash.log" relative to your current
working directory. It would be immensely helpful if you could please
report the crash with Terraform[1] so that we can fix this.

When reporting bugs, please include your terraform versi

[2019-07-20 11:58] hobovirtual commented on #164
Hi @ymmit85

I would suggest to use the official provider that you can find here https://github.com/terraform-providers/terraform-provider-vra7 and see if you still get the error.

Thanks!

[2019-07-20 13:37] ymmit85 commented on #164
Thanks @hobovirtual ! I totally missed that version!

[2019-07-20 13:37] #164 closed

[2019-07-22 12:21] skylerto commented on #21
@markpeek were you able to give this a shot?

[2019-07-22 16:30] markpeek commented on #21
Thanks @skylerto! Yes, this is also the recommendation from HashiCorp to handle this use case.

[2019-07-30 22:12] Prativa20 opened #23 "The provider does not wait for the terminal state of the update/destroy requests and returns pre-maturely when the request is still in progress in vRA"
**vRA 7.x version**
7.5
**Describe the bug**
While updating or destroying, the provider is not waiting for the status of the request and returning successfully even if the request is still in progress in vRA.
**To Reproduce**
Steps to reproduce the behavior:
1. Terraform config file
`resource "vra7_deployment" "my_vra7_deployment" {
    catalog_item_name = "requestid test"
    description = "Test

[2019-07-31 04:23] #23 closed, assigned to nobody

[2019-08-05 20:55] mcascone opened #25 "Wrong IP/FQDN from vRa given to Chef provisioner"
**vRA 7.x version**
7.0.1
**Terraform version**
Terraform v0.11.14
**terraform-provider-vra7 plugin version**
provider.vra7 v0.2.0

**Describe the bug**
When running Terraform to create a vRA VM and then provision it with Chef, Terraform gets the correct IP and FQDN from vRA, but somehow is passing an incorrect IP or FQDN (not sure which) to the Chef provisioner.
What results is a Chef run on an u

[2019-08-05 21:34] mcascone commented on #17
Hi all, please forgive my ignorance, but how do we pull down this new version? There's [no new release version since May 7.](https://github.com/terraform-providers/terraform-provider-vra7/releases) And currently, when i run `terraform init -upgrade` with Terraform v0.12, I still get the `no provider exists with the given name` error.
I'm sure i'm missing something dumb, but can anyone help?

[2019-08-06 12:40] skylerto commented on #17
@mcascone that's a great question! There is no official release of this provider with terraform 12 support. There are options to build and use a copy of that artifact locally (which is what I do). If you have a look at HashiCorps documentation (https://www.terraform.io/docs/plugins/basics.html) there you will find where to place built providers. This one is as simple as running (`go build`) and pl

[2019-08-06 19:42] markpeek commented on #17
@mcascone and @skylerto currently working with HashiCorp on logistics to get a new plugin built to support v0.12. Release should be soon.

[2019-08-07 12:50] skylerto commented on #17
Great, thanks for the update @markpeek!

[2019-08-08 16:35] markpeek commented on #17
@mcascone @skylerto this is now installable from the HashiCorp provider repository. You may need to remove your old ones to get the new one (v0.3.0) installed. Note: we likely will update to the 0.12.6 sdk (per recent changes and advice) so there may be a v0.3.1 update out sometime soon.

[2019-08-16 13:27] diogoferreirasky opened #27 "Terraform apply returns empty ip address"
**vRA 7.x version**
7.6.0
**Terraform version**
0.12.6
**terraform-provider-vra7 plugin version**
0.4

**Describe the bug**
Cannot output the IP Address. IP Address is still empty after deploying the VM.

**To Reproduce**
Steps to reproduce the behavior:
1. Terraform config file

[code]

2. Terraform command
terraform apply

3. Error
If you output the ip address, you will be able to see that no ip

[2019-08-16 16:26] hobovirtual commented on #27
Looks like a duplicate of issue #16?

[2019-08-26 19:10] mcascone commented on #25
closed with the same reason as https://github.com/hashicorp/terraform/issues/22360

[2019-08-26 19:10] #25 closed, assigned to nobody

[2019-08-29 16:59] danf425 commented on #136
@mcascone
That's a great idea, and I gave it a try, but no dice.

My problem here seems to be with vRA/vSphere rather than my TF code, which is unfortunate.
For context, when a machine if provisioned in vRA, vRA doesn't know the IP right away.
I can go into vSphere, see the newly spun up machine and grab the IP address from there manually.
If I wait several minutes, vRA will finally get the IP add

[2019-08-29 21:38] mcascone commented on #136
It sounds like the IP is assigned, but doesn't propagate to vRA right away.
Can you get the ip of the new machine from the DNS from the command line, bypassing vRA? You might be able to use the `local_exec` provider to run an `nslookup` or similar if so.

[2019-08-30 01:30] hobovirtual commented on #136
Hi @danf425

From what i understand, your virtual machine network is assigned by DHCP in your blueprint. If this is the case, then this behavior is normal. Since vRA doesn't assign the IP it won't be available to retrieve the IP until a State Collection is performed (every 15 minutes by default). This is explaining also the behavior your describing in the UI.

If you use a static IP, then you will

[2019-09-04 21:49] mcascone opened #29 "Does 'import' work?"
**versions**
Terraform v0.12.7
\+ provider.vra7 v0.4.1

**Describe the bug**
`terraform import` fails on authentication. It appears as if it is not sending the user name correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Module `module.MASTER.vra7_deployment.vra-chef` is instantiated and applied
2. Terraform command: `terraform import module.MASTER.vra7_deployment.vra-chef  5021936a-

[2019-09-23 19:28] GMZwinge opened #31 "Building this provider fails accessing https://git.apache.org/thrift.git"
I was trying to build the master branch of this provider to try the changes from the pull request "Pull network info from NETWORK_LIST json in resourceview" (#30). It now fails at:
[code]
From https://status.apache.org/, it seems that the repo "git.apache.org is not available at this time" and according to the referred [blog](https://blogs.apache.org/infra/entry/subversion-to-git-service-git) may

[2019-09-23 20:47] markpeek commented on #31
I [fixed](https://github.com/vmware/terraform-provider-vra/commit/270d9b27930c8e7fe23c7da83287774e9ac8e886) this in our newer provider for vRA 8 via adding this line to go.mod:

[code]

[2019-09-24 16:06] GMZwinge commented on #31
Thanks @markpeek. It does indeed fix the above error. I now get another error accessing howett.net/plist, but it seems to be because our IT blocks howett.net because it's in the Category "personal-sites-and-blogs". Is there a similar alternative for that?

[2019-09-24 16:11] GMZwinge commented on #31
Here is the full error:
`go: howett.net/plist@v0.0.0-20181124034731-591f970eefbb: unrecognized import path "howett.net/plist" (https fetch: Get https://howett.net/plist?go-get=1: read tcp 10.199.71.235:49917->13.77.158.121:443: wsarecv: An existing connection was forcibly closed by the remote host.)`

[2019-09-24 16:36] markpeek commented on #31
That same technique likely will not work for that issue. Haven't tried it but using the proxy in Go 1.13 likely could bypass that block. But read about the privacy concerns if you have any internal repos.

[2019-10-03 19:01] mcascone commented on #75
I can confirm that the `resource_configuration` suggested above works! It actually increases the total storage by the correct amount, too!

FWIW our catalog already has the second disk configured, but only at 10GB. So I only needed to increase it, not add it totally new.

[code]

[2019-10-08 11:59] aleost1 opened #32 "Terraform returns "The resource cannot be found" when vRA deployment succeeds"
**vRA 7.x version**
7.5.0
**Terraform version**
0.12.7
**terraform-provider-vra7 plugin version**
0.4.1

**Describe the bug**
I tried to create Linux machines with a vRA XaaS.
This XaaS triggers a first workflow (with the ID "1"). It is used to instantiate resourceActions to create every needed resources for the machine.
It also instantiates another blueprint called "Linux" triggering a second wor

[2019-10-09 21:13] cars commented on #32
I think part of the issue you'll run into with XaaS is that there isn't really an easy way to tell via the API what resources/deployments (if any) got spun up by the XaaS request.

I've wondered if it's possible you could create a custom resource mapping and have your XaaS workflow return something that way but haven't had a chance to test that myself.

[2019-10-10 06:36] aleost1 commented on #32
Indeed, I was thinking about this too. But even with that, as Terraform bases its deployment check on the first workflow's ID (which contains nothing), I really doubt it would make any difference for Terraform to have another ID that has no meaning to it.

[2019-10-29 13:44] GMZwinge commented on #31
@markpeek Thanks Mark. I'll just wait until there is an official release that includes #30.

[2019-10-29 13:44] #31 closed, assigned to nobody

[2019-11-12 14:26] soumik612 opened #33 "VRA Provider deletes resources from state file before receiving any "SUCCESSFUL" status response from VRA during terraform destroy"
**vRA 7.x version**
7.4
**Terraform version**
v0.12.13
**terraform-provider-vra7 plugin version**
provider.vra7 v0.5.0

**Describe the bug**
. Our environment has a pre approval setup where my credentials does not have rights to destroy resources directly. A destroy request needs to be approved by someone with elevated access rights. Once approved, I can see the VMs are destroyed in VRA UI.
I trie

[2019-11-19 09:33] soumik612 opened #37 "Terraform adds resource in state file even though the request_status is "FAILED""
vRA 7.x version
7.4
Terraform version
v0.12.13
terraform-provider-vra7 plugin version
provider.vra7 v0.5.0

**Describe the bug**
While testing VM deployment, sometimes the machine provisioning fails and VRA returns and error "FAILED" with relevant reasons.
Expected behavior is TF stops deployment of that resource and does not add any entry into the state file.
What I have observed is that TF adds

[2019-11-19 23:38] pezhore commented on #32
Does this provider work at all with even a simple XaaS catalog item? I'm running into the same behavior with the "resource cannot be found" for a very simple vRO workflow.

[2019-11-20 01:43] Prativa20 commented on #37
@soumik612  Looking into it.

Thanks,
Prativa

[2019-11-21 13:24] soumik612 opened #38 "Terraform refresh does not work as intended."
vRA 7.x version
7.4
Terraform version
v0.12.13
terraform-provider-vra7 plugin version
provider.vra7 v0.5.0

**Describe the bug**
During deployment of VM resource, TF timesout (using default timeout value) although the VM request is still "IN PROGRESS" on VRA.
TF show output when TF timesout:

# vra7_deployment.Windows_machine_01[0]: (tainted)
resource "vra7_deployment" "Windows_machine_01" {
    b

[2019-11-22 17:55] GMZwinge opened #39 "Terraform gets only first VM with _number_of_instances or _cluster > 1"
**vRA 7.x version**
Version: 7.5.0 (Build: 10053500)
**Terraform version**
Terraform v0.12.16
**terraform-provider-vra7 plugin version**
provider.vra7 v0.5.0

**Describe the bug**
With _number_of_instances > 1 in deployment_configuration or _cluster > 1 in resource_configuration, vRealize provision the number of VM specified in _number_of_instances  or _cluster under a single deployment. But Terra

[2019-12-04 02:01] Prativa20 opened #41 "Show all the data in the state file that is returned from a deployment resource GET"
The current implementation provides very limited information about the deployment in the state file.

I have created a PR which will give a lot more information about the deployment returned from the API
#40
For instance, if the config file has the following information:

_deployment_configuration = {
    "_leaseDays" = "15"
    "BPCustomProperty" = "custom deployment property"
  }
  resource_conf

[2019-12-04 02:08] Prativa20 commented on #39
@GMZwinge Created a PR as an enhancement that will take care of this
https://github.com/terraform-providers/terraform-provider-vra7/issues/41

Please provide your feedback

[2019-12-04 02:08] Prativa20 commented on #38
@soumik612 Created a PR as an enhancement that will take care of this
#41

Please provide your feedback

[2019-12-04 02:09] Prativa20 commented on #37
@soumik612 I could reproduce this issue. Will work on it

[2019-12-04 09:42] diogoferreirasky commented on #41
Hello @Prativa20, My only concern is that we can pass the field ip_address to the next resource. For example:
output "ip_address" {
 value= "${vra7_resource.vm.*.resource_configuration.Machine.ip_address}"
}
This would be great!!
However, right now we can't.
What we can do is output the resource_configuration only:
output "vms_single_configuration" {
  value = "${vra7_deployment.vm_single.*.resour

[2019-12-04 14:55] GMZwinge commented on #41
@Prativa20 Is there a build for Windows of the vra7 provider for the PR #40 available somewhere?

[2019-12-05 14:36] GMZwinge commented on #41
@Prativa20 I was able to build the PR #40 myself. It looks promising. But it seems to no longer get the original name and ip_address under resource_configurations. It may be best to keep them for backward compatibility. Also, I haven't been able to figure out how to get the list of MachineName or ip_address from resources. What is the magic to make that happen?

@diogoferreirasky To use a list in

[2019-12-05 15:21] diogoferreirasky commented on #41
@GMZwinge I cannot output using the field ip_address. see IPAddress return is empty with latest release of vRealize Automation #16

[2019-12-05 19:37] GMZwinge commented on #41
@diogoferreirasky The latest release of vRealize Automation includes #30, and you can read the ip address from the network info, something like `Machine.Network0.IPAddress`.

[2019-12-05 21:58] Prativa20 commented on #41
@diogoferreirasky @GMZwinge I tried adding all the data in the existing "resource_configuration" schema itself. This is also a solution for the issue #39 where currently the provider does not show all the VMs if _cluster > 1. In the following, my config file had _cluster = 2. So, that creates 2 VMs (Terraform-B0006 and Terraform-B0007) and the resource_configuration now shows information about bot

[2019-12-09 20:36] GMZwinge commented on #41
@Prativa20 I can try it when the changes are pushed to GitHub. What I am not sure is similar to the original #40: how to get the list of ip_address or MachineName from the above. Would something like this work: `vra7_deployment.test_deployment[*].resource_configuration["vSphere1.*.ip_address"]`.

[2019-12-16 20:07] Prativa20 commented on #29
@mcascone Working on it. Will update soon

[2020-01-15 17:26] Virtualinux opened #43 "Need to import existing VMs"
Use case - we need to import existing VMs from a legacy system using terraform import for a new vRA 7.6 solution.

[2020-02-03 23:03] Prativa20 commented on #40
**This PR is addressing the following open issues:**
1. Import a vra7_deployment #43 #29
2. Provider not returning all the VMs if the cluster size is more than 1 #39
3. Issues related to fetching ip_addresses #27 #16
4. Terraform refresh not working as intended #38

**What will change?**
The "resource_configuration" schema is changed to handle the above issues

**Before:**
[code]

**After:**
[code

[2020-02-11 13:31] sokoow commented on #37
@Prativa20 are you planning to progress this issue ? I'm hitting this also on my side, and it's a pretty annoying bug that potentially is corrupting TF state. Do you need any help ?

[2020-02-11 22:59] Prativa20 commented on #37
@soumik612 @sokoow This issue is now fixed in #44

[2020-02-18 08:27] MaciejKaras opened #45 "Cannot pass array of values in element of deployment_configuration or resource_configuration"
**vRA 7.x version**
7.6
**Terraform version**
0.12.19
**terraform-provider-vra7 plugin version**
0.5.0

**Describe the bug**
Cannot pass array of values in element of deployment_configuration or resource_configuration. Arrays of values are necessary for some fields, based on catalog item template, but they are available to send through vRA API. Maybe there is a way but documentation is not suggest

[2020-02-18 15:51] spbarbieri opened #165 "Apply does not change the number of VMs created by the vRA blueprint"
I have a vRA blueprint that contains a cluster of 1 to 5 EC2 Servers:

![image](https://user-images.githubusercontent.com/25961207/74564397-02651600-4f3d-11ea-846a-a19b10fe8d14.png)

I have a terraform configuration that deploys this blueprint
[code]

This successfully deploys my blueprint and creates 3 VMs.

If I change **EC2_Cluster._cluster = "3"** to **EC2_Cluster._cluster = "5"** and run Terr

[2020-02-18 16:08] Prativa20 commented on #165
@spbarbieri
This project has moved to the terraform-providers organization and is archived.
The new location is here: https://github.com/terraform-providers/terraform-provider-vra7

About the issue, this is a day 2 scale out action which is not supported currently. Please open a feature request here https://github.com/terraform-providers/terraform-provider-vra7 and we will work on it.

Thanks,
Pra

[2020-02-19 11:20] sokoow commented on #45
@Prativa20 thanks for fixing https://github.com/terraform-providers/terraform-provider-vra7/issues/37 - is this also something you can potentally answer ? :)

[2020-02-19 12:44] MaciejKaras opened #46 "It's not possible to use custom resource actions"
**vRA 7.x version**
7.6
**Terraform version**
0.12.19
**terraform-provider-vra7 plugin version**
0.5.0

**Describe the bug**
When resource action with name `Reconfigure` **is not** defined in `resourceActions.Content.Operations` i get an error:
[code]

We only use custom resource actions and have disabled `Reconfigure` action, because it would expose our custom VM properties, which we don't want t

[2020-02-19 21:14] spbarbieri opened #47 "Feature request: Day 2: Change the number of VMs created by the vRA blueprint"
I have a vRA blueprint that contains a cluster of 1 to 5 EC2 Servers:

![image](https://user-images.githubusercontent.com/25961207/74564397-02651600-4f3d-11ea-846a-a19b10fe8d14.png)

I have a terraform configuration that deploys this blueprint
[code]

This successfully deploys my blueprint and creates 3 VMs.

If I change **EC2_Cluster._cluster = "3"** to **EC2_Cluster._cluster = "5"** and run Terr

[2020-02-19 21:22] spbarbieri commented on #165
@Prativa20 Thanks for the information. I opened issue https://github.com/vmware/terraform-provider-vra/issues/155 and was directed to this repository. I opened issue https://github.com/terraform-providers/terraform-provider-vra7/issues/47 for this request. I couldn't assign labels so I put "Feature Request" in the title.

[2020-02-20 09:34] MaciejKaras commented on #47
We've also stumbled with the same problem. It does not scale down nor scale down.

[2020-02-21 18:57] t-settle commented on #133
I have been using:

  deployment_configuration = {
    "_number_of_instances" = "2"
  }

Then I realized that I can't dynamically grow or shrink my deployment. It doesn't trigger VRA to add or remove more instances. It only works for the initial apply.

I changed to @sametimesolutions above recommendation:

resource_configuration = {
    "vm._cluster" = "2"
          }

but it complains that I can

[2020-02-21 21:42] t-settle commented on #47
I too am having the issue of VRA not modifying the # of instances in my deployment if I change the value and apply.

I am doing:
  deployment_configuration = {
    "_number_of_instances" = "2"
  }

How were you able to get EC2_Cluster._cluster = "3" to work? Every time I use _cluster I get an error like this:

resource_configuration = {
"vm._cluster" = "2"
}

Error: Resource Machine Request Failed

[2020-02-21 22:20] GMZwinge commented on #40
@Prativa20 It looks almost perfect. There is just one small problem that I don't know how to resolve. I usually run the provisioners in modules that I can reuse from different providers. The modules are usually different for each of the resource_configuration. This means that I need to call the module for each resource_configuration only with the IP addresses for that configuration. I couldn't fig

[2020-02-21 22:21] Prativa20 commented on #47
The scale in/out is a day 2 action and this feature is not implemented yet. Thanks for opening this feature request. I will update soon about the timeline.

[2020-02-21 22:42] Prativa20 commented on #40
Hi @GMZwinge I haven't tried it yet but I believe we can make use of terraform conditional operators https://www.hashicorp.com/blog/terraform-0-12-conditional-operator-improvements/

Something like,
 if (vra7_deployment.deployment1[*].resource_configuration. name == "vSphere1") {
     //output the ip_address from
     vra7_deployment.deployment1[*].resource_configuration.configuration.ip_address
}

[2020-02-27 12:25] moogster commented on #40
Hi,
I'm trying to implement the above suggestion to iterate a remote-exec script across multiple VM's.  I am getting the following error:
Block type "resource_configuration" is represented by a set of objects, etc.  Tor find elements matching specific criteria, use a "for" expression with an "if" clause.
My remote-exec worked before the upgrade to the beta provider.

Any ideas?

Thanks

[2020-02-27 19:12] t-settle commented on #133
I asked the same question on the other terraform-provider-vra7 repo (https://github.com/terraform-providers/terraform-provider-vra7/issues/47) and @Prativa20 answered "The scale in/out is a day 2 action and this feature is not implemented yet. Thanks for opening this feature request. I will update soon about the timeline."

[2020-02-27 19:20] t-settle commented on #40
How is this PR coming? My organization is very interested in Terraform being able to return all the VRA values of all VMs as we are integrating with Hashicorp Sentinel for policy validation.

[2020-02-28 07:05] dsiegmann commented on #40
Hi, we are also waiting for this issue to be resolved as without getting all properties like IP the provider and terraform as well is almost unusable for our scenario.

[2020-03-03 20:42] alteriks commented on #40
Hi @Prativa20 thanks for maintaining vra7 provider. I've managed to deploy infrastructure using vra7 provider from this PR on VMware vRealize Automation 7.6.
Finally I can get a list of IPs in output, so it's a big advantage. Additionally, I can use this provider alongside with remote-exec and fully provision new VMs with ansible.
Unfortunately, now vra7 is not idempotent. My [main.tf](https://pas

[2020-03-03 20:57] #45 closed, assigned to nobody

[2020-03-06 12:28] MaciejKaras commented on #49
@markpeek Do you know when is the next release coming?

[2020-03-06 12:47] moogster commented on #40
Hi,
I can deploy VM's using the vRA provider and configure 'output' to display a list of ip addresses. How do I pass on the ip_addresses to a remote-exec?  The method I used with a previous version of the provider no longer works and states that a "for" expression with an "if" clause must be used.  I cannot find any useful information on how to get this to work.

Thanks

[2020-03-06 13:01] MaciejKaras commented on #41
@Prativa20 do you have any idea when this might be finished and released?

[2020-03-09 14:58] mcascone commented on #40
@moogster post your code so we can take a look.

[2020-03-10 06:48] moogster commented on #40
The following used to work in a remote-exec with terraform v0.12.5 and provider.vra7 v0.5.0
host=self.resource_configuration["CentOS7.name"]

If I use that with terraform v0.12.21 and a beta vra provider, I get the following error:

Block type " resource_configuration" is represented by a set of objects, and set elements do not have addressable keys.  To find elements matching specific criteria, u

[2020-03-10 14:15] karolsochk opened #52 "panic when tfstate file exists but doesn't have much in it"
**vRA 7.x version**
7.6
**Terraform version**
0.12.19
**terraform-provider-vra7 plugin version**
0.5.0

**Describe the bug**
I got a panic on apply when I had a semi-empty tfstate file that contained this:

[code]

here's the error I got:

[code]

**To Reproduce**
Steps to reproduce the behavior:
I'm just trying to create a vra7 machine using terraform apply.

**Expected behavior**
No panic, tfsta

[2020-03-11 19:40] Prativa20 commented on #52
@karolsochk Hi, can you please share the vra_terraform.log file and the also the main.tf file?

[2020-03-11 21:04] MaciejKaras commented on #32
Sadly it seems It does not work for any vRO workflow. To confirm that I have intercepted requests going to vRA API. After posting new catalog item request it periodically checks for request/job status. Eventually I get status "SUCCESSFUL" for GET request on `/catalog-service/api/consumer/requests/3db5bed3-2732-4d4b-8de9-b9b06463692e`:

[code]

Resource is actually created and can be verified in vR

[2020-03-18 21:29] Prativa20 commented on #32
@MaciejKaras We haven't tested XaaS blueprints from the provider. This will be a new requirement and we will prioritize this with other backlogs. I will update on this soon.

[2020-03-19 11:01] feewald commented on #47
@Prativa20 any update on this? any Estimated date of when will it be implemented?
Thanks

[2020-04-01 15:05] soumik612 opened #53 "MODIFY resource interfaces does not work correctly."
vRA 7.x version
7.4
Terraform version
v0.12.13
terraform-provider-vra7 plugin version
provider.vra7 v0.5.0

**Describe the bug**
Modification of resource configuration objects like CPU and MEMORY works prefectly fine using the VRA provider.

When I try to modification of custom network profile names does not work. The provider state shows that the profile has been changed. However, on the VRA the

[2020-04-05 21:44] Prativa20 opened #54 "Support Deployment Day 2 Change Lease action"
Support the the deployment day 2 action, change lease.
Copied from https://github.com/vmware/terraform-provider-vra7/issues/70

[2020-04-05 21:48] Prativa20 opened #55 "Create a data source for vra7_deployment resource"
Data source for vra7_deployment resource

[2020-04-08 17:40] t-settle commented on #40
I pulled down v1.0.0 and tested. It is working wonderfully. Love the new features like day2 scaling, ability to call multiple components in same deployment, and returning all resource values to tfstate.

[2020-04-08 18:19] Prativa20 commented on #55
Created the data source. Refer to documentation https://github.com/terraform-providers/terraform-provider-vra7/blob/master/website/docs/d/vra7_deployment.html.markdown

[2020-04-08 18:19] #55 closed, assigned to nobody

[2020-04-08 18:20] Prativa20 commented on #54
Introduced a property in the schema "lease_days" to support Change Lease. Refer to examples and documentation

[2020-04-08 18:20] #54 closed, assigned to Prativa20

[2020-04-08 18:38] t-settle opened #56 "terraform apply always results in change despite not change to .tf"
**vRA 7.x version**
7.6
**Terraform version**
Terraform v0.12.18
**terraform-provider-vra7 plugin version**
+ provider.vra7 v1.0.0

**Describe the bug**
After upgrading to vra7 provider v1.0.0, I noticed executing terraform apply multiple times in a row results in a change, when nothing has been changed.

**To Reproduce**
provider "vra7" {
  tenant   = "acme"
  host     = "https://xxxx.xxxx.com"

[2020-04-08 18:43] Prativa20 commented on #47
This issue is fixed in latest version, v1.0.0. Added a 'cluster' property in the schema under resource_configuration to support scaling. Refer to documentation and README for details

[2020-04-08 18:46] Prativa20 commented on #43
@Virtualinux Import functionality is now supported in the latest version, v1.0.0.
Refer to README for detail.

[2020-04-08 18:51] Prativa20 commented on #41
@MaciejKaras @GMZwinge @diogoferreirasky #40 has been merged. The latest version, v1.0.0 has this change. Please refer to the README, documentation and examples for detail on migrating to this version.

[2020-04-08 18:51] #41 closed, assigned to Prativa20

[2020-04-08 18:53] Prativa20 commented on #29
@mcascone Import functionality is now supported in the latest version, v1.0.0.
Refer to README for detail.

[2020-04-08 19:00] Prativa20 commented on #27
Duplicate of #16 Closing this

[2020-04-08 19:00] #27 closed, assigned to Prativa20

[2020-04-08 19:03] Prativa20 commented on #38
@soumik612 This is fixed in v1.0.0. Please refer to the README, examples and documentation to migrate to the latest version

[2020-04-08 20:49] mcascone commented on #40
Hi, I'm just getting a chance to test this now, I am getting an authentication error:
[code]

My config looks like this. I am still on TF v0.11 as i was getting the parallel-provisioning issue with 0.12. Is it possible that this fixes that? (I can look up the issue #'s if necessary)
[code]

[2020-04-08 20:57] Prativa20 commented on #40
@t-settle Thanks for the feedback :)  Please open new issues if you find any.

[2020-04-08 21:17] Prativa20 commented on #40
@mcascone Regarding the authentication error, if the creds are correct, it should not throw this error. Can you please attach the vra-terraform.log file. Also, we do not validate SSL certificates, so add insecure=true if any certificate errors.

The config file looks fine except one change that you can do, although it will not make any difference at this point unless you try scaling day 2 operatio

[2020-04-08 23:13] Prativa20 commented on #45
@MaciejKaras Added the support in resource_configuration as well.

[2020-04-08 23:24] #43 closed, assigned to Prativa20

[2020-04-08 23:24] #29 closed, assigned to Prativa20

[2020-04-08 23:25] #38 closed, assigned to Prativa20

[2020-04-08 23:38] Prativa20 commented on #39
@GMZwinge  This issue has been fixed in the latest version, v1.0.0.
"cluster" has been added as property under resource_configuration in the schema to handle this and also support scaling.

Please update your resource configuration block.

resource_configuration  {
     component_name = "vSphere__vCenter__Machine_1"
     cluster = 2
     configuration = {
        // properties that needs to be mod

[2020-04-08 23:38] #39 closed, assigned to Prativa20

[2020-04-08 23:39] #47 closed, assigned to Prativa20

[2020-04-08 23:39] #37 closed, assigned to Prativa20

[2020-04-09 02:19] mcascone commented on #40
Terraform log is at https://gist.github.com/mcascone/ce21c1f654992f90a8f37137ed730712

Where does the `insecure` go? I put it in the `provider` block, but it didn't change anything; putting it in the `resource` block caused a syntax failure.

The parallel provision issue is here, and it is pretty much blocking everything for me: https://github.com/hashicorp/terraform/issues/22722

[2020-04-09 04:38] Prativa20 commented on #40
@mcascone From the logs, it seems that fetching the business groups for this tenant is throwing this error.

insecure will go in the provider block.

I am not sure about the parallel provisioning issue. I will look into it and update.

[2020-04-09 19:53] Prativa20 commented on #53
@soumik612 This will a new capability in the provider. I will work on this based on the prioritization. Will update soon

[2020-04-10 16:34] linkages opened #57 "Import a deployment without a request id"
**vRA 7.x version**
Version: 7.5.0 (Build: 10053500)
**Terraform version**
0.12
**terraform-provider-vra7 plugin version**
1.0.0

**Describe the bug**
An accident was made in vRA and everyone's deployments were removed from their business groups. This was fixed by re-registering all deployments back with the appropriate business groups but there is a side effect of losing all the requests. Because

[2020-04-10 18:52] Prativa20 commented on #57
@linkages I thought about it and the reason I did not replace the id in the state file from request to deployment id is because it will break the existing deployment resources managed by the provider.

I have introduced a data source for vra7_deployment resource.  It accepts deployment id. The request id can be fetched from the state file after you get the deployment from the data source. Then use

[2020-04-12 18:48] markpeek commented on #34
@roidelapluie Oops...just occurred to me, this should use terraform-plugin-sdk logging instead of the terraform.

[2020-04-12 19:51] roidelapluie commented on #34
No because this plugin has not been migrated yet. see #58 for the migration.

[2020-04-12 22:15] markpeek commented on #58
Thanks @roidelapluie for this PR. I thought we had already switched this provider to the plugin sdk. For the lint issue, this patch will fix it:
[code]

For the unit test issue, @Prativa20 should take a look at this branch. Note: I did try to update terraform-plugin-sdk to v1.9.1 but same issue.

[2020-04-12 23:30] roidelapluie commented on #58
Applied.

Updated to v1.9.1 and fixed the test.

[2020-04-15 19:00] hobovirtual opened #59 "Terraform crash : rpc error: code = Unavailable desc = transport is closing"
**vRA 7.x version**
vRealize Automation 7.6

**Terraform version**
v0.12.24

**terraform-provider-vra7 plugin version**
The terraform-provider-vra7 plugin version 1.0.0

**Describe the bug**
Issue with latest provider, when deploying any blueprint, at the end, terraform crash with the following error

rpc error: code = Unavailable desc = transport is closing

Since terraform crash the tfstate is n

[2020-04-15 19:16] hobovirtual opened #60 "Provider 1.0.0 - Required to specify all values even if there's a default specified in the blueprint"
**vRA 7.x version**
vRealize Automation 7.6

**Terraform version**
v0.12.24

**terraform-provider-vra7 plugin version**
The terraform-provider-vra7 plugin version 1.0.0

**Describe the bug**
New behavior in the latest provider, when deploying a blueprint, we need to declare a bunch of new values that were previously optional.

Example, lease_days, before 1.0.0 we could just use the default value (

[2020-04-16 16:24] mcascone commented on #40
@Prativa20, i updated the gist with the full debug log of the issue i'm seeing: https://gist.github.com/mcascone/ce21c1f654992f90a8f37137ed730712 (actual cloud URL redacted in the logs)

Any insight on the parallel issue?

[2020-04-20 08:56] marratj commented on #59
We have the same problem and found the underlying issue, we believe:

The provider expects "Scale Out" to be enabled in the Blueprint and is hardcoded to read the `_cluster` value from that:

[code]

However, when a Blueprint has no scale out enabled, the `data` field in the API response is empty, causing the provider to crash with:

[code]

So there needs to be a check if the data field is even s

[2020-04-20 12:07] marratj commented on #61
Closing PR, as already fixed simultaneously with https://github.com/terraform-providers/terraform-provider-vra7/commit/744cd1404e0a0486401cf3ab446d849626dd1ec2

[2020-04-20 19:18] Prativa20 commented on #60
@hobovirtual The issue is fixed. If no cluster value is provided in the config, it assumes the default value in the request template.

[2020-04-20 19:18] #60 closed, assigned to nobody

[2020-04-20 19:19] Prativa20 commented on #59
@hobovirtual @marratj The issue is fixed now.

[2020-04-20 19:19] #59 closed, assigned to nobody

[2020-04-20 19:24] marratj commented on #59
Thanks for your support. I tested your commit today already and can confirm it's working fine :)

[2020-04-21 02:00] mcascone commented on #57
I thought the point of `import` was to bring in a machine(s) that had _not_ been created by Terraform, so it could be managed by TF. Do i read this right, that you can only import entities that have previously been created by Terraform?

[2020-04-21 05:06] Prativa20 commented on #40
@mcascone The request to get subtenants/business groups for the tenant 'Engineering' is throwing 403. Please check your vRA administration setup.
https://my-vra-host/identity/api/tenants/Engineering/subtenants
The response is: 403

To unblock, you can try the following:
With the another new provider version v1.0.1 that should be published anytime soon, you can get rid of business group name or id

[2020-04-21 08:19] Prativa20 commented on #57
@mcascone Yes, you can import the deployment even if has not been created by Terraform. To import any deployment, you need the catalog item request id.
But @linkages has mentioned that they do not have the request id but only have the deployment id. In such a case, the request id can be fetched through a vra7_deployment data source. Once the data source is created, go to the state file and fetch t

[2020-04-21 17:02] mcascone commented on #40
Hi, thanks so much for your quick action on all this. Removing the business group name does make the request go though!

Now, i've progressed to the next error... I don't know if this is a driver issue or an issue with my org's vRA instance:
[code]
I am still on TF 0.11 due to the parallel issue mentioned above.
[code]

*Update: it was indeed an issue with our vCenter config. Our admin tweaked it

[2020-04-21 18:02] hobovirtual opened #64 "Provider 1.0.1 - Required to specify leasedays even if there's a default specified in the blueprint"
**vRA 7.x version**
vRealize Automation 7.6

**Terraform version**
v0.12.24

**terraform-provider-vra7 plugin version**
The terraform-provider-vra7 plugin version 1.0.1

**Describe the bug**
Issue #60 fixed the cluster requirement but not the leasedays

**To Reproduce**
Steps to reproduce the behavior:
1. maint.tf content

[code]

2. Terraform command
terraform apply

3. Error
Error: The catalog i

[2020-04-21 20:33] mcascone commented on #40
With a configuration as follows, how do i get the IP and Name? I can't come up with a valid output line. Will it not work with TF v0.11?

[code]

State file:
[code]

[2020-04-21 20:42] t-settle commented on #40
Try putting your splat in brackets:

`vra7_deployment.TF-Deploy-Windows[*].resource_configuration[*].name`

[2020-04-22 15:02] mcascone commented on #40
Thanks @t-settle, i did try that without success, but i believe that is 0.12 syntax, and I'm on 0.11. [There is a separate issue in 0.12 ](https://github.com/hashicorp/terraform/issues/22722)that blocks me from upgrading - although i haven't tried in a while, so maybe i'll update the syntax to 0.12 and try it all again.

[2020-04-24 02:47] Prativa20 commented on #64
@hobovirtual Will look into it, thanks!

[2020-04-27 14:46] hobovirtual opened #65 "Error: Incorrect attribute value type: Inappropriate value for attribute "host": string required."
**vRA 7.x version**
vRealize Automation 7.6

**Terraform version**
v0.12.24

**terraform-provider-vra7 plugin version**
terraform-provider-vra7 plugin version 1.0.1

**Describe the bug**
Trying to use the remote_exec provisioner to execute commands post installation. When we use the examples provided in the documentation we get an error.

**To Reproduce**
Steps to reproduce the behavior:
1. define

[2020-04-27 17:10] hobovirtual commented on #65
Update

I was able to do a remote_exec using this block

[code]

Need to do more testing but so far so good

@Prativa20 is this the expected behavior? If so should we update the documentation to reflect this?

[2020-05-01 03:13] BalajiTechs opened #67 "ERROR: "resource_configuration" is not expected here."
**vRA 7.6.x version**
Version: 7.6.0 (Build: 13027133)
**Terraform version**
Terraform v0.12.24
**terraform-provider-vra7 plugin version**
provider.vra7 v1.0.1

**Describe the bug**
I want to set hostname of the machine i want to create. Here is my config file

[code]

when running command `terraform plan`, it throws below error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Terrafo

[2020-05-01 12:13] hobovirtual commented on #67
Hi @BalajiTechs

Version 1.x of the provider requires a new format for resource_configuration which you can see in the [example](https://github.com/terraform-providers/terraform-provider-vra7/blob/master/example/simple/main.tf)

From what i can see in the example above, your blueprint component is named Linux so your resource_configuration should look something like this

[code]

Hope this can hel

[2020-05-01 18:57] mcascone commented on #40
so, i haven't updated to v0.12 syntax yet, but i have made a bit of progress and hit another wall.

With this output configuration, i get the following:
[code]

The `terraform.tfstate` file looks like this:
[code]

However I can not create the syntax to pull out just the name or IP. Or even the cluster, at the very top of the map. Any further additions to the output line either fail syntax or give

[2020-05-01 19:41] mcascone commented on #40
Alright, i got it. I upgraded to v0.12, and this simple statement does it:
[code]

[2020-05-01 19:44] mcascone commented on #56
Same issue here. A `plan` immediately after an `apply` shows many changes pending. They all appear to be in attributes that are not explicitly set in the main.tf file.

[2020-05-02 13:59] BalajiTechs commented on #67
Thanks @hobovirtual .
Using above configuration doesn't throw the error mentioned in the issue. But at later stage it complains about the component_name = "Linux". How do i determine component_name  for my blueprint?

[2020-05-04 12:21] hobovirtual commented on #67
Hi @BalajiTechs

There's many ways to see this information, i think the simplest is either via the blueprint design form (if you have access)

![image](https://user-images.githubusercontent.com/20516722/80964829-8792f500-8ddf-11ea-9a37-e3175f73e288.png)

or when you make a request in the portal

![image](https://user-images.githubusercontent.com/20516722/80964900-a6918700-8ddf-11ea-932c-8794322197

[2020-05-04 15:28] mcascone commented on #40
Another wall: in the `chef` provisioner in my `vra7_deployment` resource, how do I get the name/ip of the `self` object?

This: `host = self.resource_configuration[*].name`
gives this error: `Error: Incorrect attribute value type: Inappropriate value for attribute "host": string required.`

I'll try the provisioning in a `null_resource` object for now, which I've had luck with before.

[2020-05-04 15:37] hobovirtual commented on #40
Hi @mcascone

If you're using the latest plugin, please take a look at issue #67 for potential resolution. struggled to get this as well at first.

Thanks!

[2020-05-04 23:42] hobovirtual commented on #40
Sorry mixed the reference see issue #65

[2020-05-06 08:05] marratj opened #68 "Read `resource_configuration` from non-VM Deployments"
When we create deployment from a blueprint that contains vCenter VMs (`resourceType == sdk.InfrastructureVirtual`) then the provider reads the `content[].data{}` back from the deployment and puts it into `resource_configuration` blocks in the state file.

We still like to read back `resource_configuration` details also for XaaS software components, but for any non-VM deployments, this is not yet i

[2020-05-06 21:50] spbarbieri commented on #47
@Prativa20 Thank you for the update. I still can't get this to work.

I have a vRA blueprint that contains a cluster of 1 to 5 EC2 Servers:

![image](https://user-images.githubusercontent.com/25961207/81231586-6558cd00-8fc1-11ea-9e7d-cb6111d03593.png)

Here is my Terraform template:

[code]

* I run terraform init which brings down terraform-provider-vra7_v1.0.1_x4
* I run terraform apply and set

[2020-05-06 22:18] Prativa20 commented on #47
@spbarbieri Can you please share the vra-terraform.log? Also, can you try Scale In, making the cluster as 1?

[2020-05-07 13:10] spbarbieri commented on #47
@Prativa20 How do I produce the vra-terraform.log? Also, terraform apply with num_vms = 1 did not remove any VMs.

[2020-05-08 12:54] t-settle commented on #56
In my testing I think this issue results in the following outcomes. Terraform has no knowledge of scaled-out VMs. Or perhaps this is a different issue?

Create deployment = success
Destroy deployment = success
Scale out VM count = success
Scale in VM count from original qty of VMs = success
Scale in VM count from scaled-out qty of VMs = failure
Reconfigure original qty of VMs (CPU, Memory changes)

[2020-05-18 12:23] marratj opened #70 "Provider panics during resource deletion when connection to vRA is lost"
**vRA 7.x version**
1.0.1
**Terraform version**
0.12.24

**Describe the bug**
During resource deletion when the `GetRequestStatus` call in `waitForRequestCompletion` to vRA API is not responding for whatever reason (an intermittent connection issue for example) the provider will panic with a `runtime error: invalid memory address or nil pointer dereference`.

[code]

**To Reproduce**
- Trigger res

[2020-05-19 16:57] supernini opened #71 "Output issue with resource_configuration"
**vRA 7.5 version**
The vRA 7.5 version where is issue is found.
**Terraform version**
0.12.24
**terraform-provider-vra7 plugin version
1.0.1

**Describe the bug**
When it try to output my result, i'm not able to acces

**To Reproduce**
Steps to reproduce the behavior:
1. Terraform config file
[code]
2. Terraform command
`terraform apply`
3. Error
`Error: Unsupported attribute

  on main.tf line 1

[2020-05-19 17:06] hobovirtual commented on #71
Hi @supernini

If you only have one resource_configuration, try the following

[code]
Think the issue is due to the fact the resource_configuration is an array which needs to be treated differently

[2020-05-19 17:24] supernini commented on #71
Thanks @hobovirtual, but i've got the same error

But following your comment i try this :
`value = ["${vra7_deployment.windows[*].resource_configuration[*].configuration.hostname}"]`

And it's start (now i wait for the result)

[2020-05-19 20:31] supernini commented on #71
The solution i post works fine. Is it the right one ;-)

[2020-05-26 17:07] Prativa20 commented on #65
Yes @hobovirtual, we should update the documentation. Thanks for looking into it.

[2020-05-26 17:09] Prativa20 commented on #70
@marratj , looking into it. Thanks!

[2020-05-29 00:29] MasakariDOR commented on #71
In a related question, is the only way to access the resource_configuration without the splat to use a for loop? It seems that resource_configuration is a "set" and not a "list" as one would expect. Not sure if this is desired behaviour or not. Even using a for loop, I cannot access the properties under the child "configuration" object.

[code]

Error message:
[code]

[2020-05-29 00:44] MasakariDOR commented on #71
When accessing the properties of the configuration object I get this weirdness:
[code]
Error:
[code]

When I examine the keys I can see this is a valid key (and there are 46 of them, not 15!):
[code]
Output:
[code]

[2020-06-05 03:53] feewald commented on #47
@Prativa20 could you please provide an update for @spbarbieri comment?
Thanks.

[2020-06-11 12:23] soumik612 opened #73 "Issue with Terraform PLAN"
**vRA 7.x version**
7.4
**Terraform version**
v0.12.13
**terraform-provider-vra7 plugin version**
provider.vra7 v1.0.1

Describe the bug
I am able to deploy VMs using the latest official provider. Once the VMS are deployed, if I run a TF plan, the provider shows that the "resource_configuration" options need to be changed.

![image](https://user-images.githubusercontent.com/35273569/84384819-dad24

[2020-06-17 03:41] feewald commented on #47
Hi @Prativa20 Could you please help us?
It is blocking one of our users.
Thanks.

[2020-06-17 03:51] Prativa20 commented on #47
@spbarbieri You will find the vra-terraform.log file in the same directory where you have your main.tf

[2020-06-19 08:16] octavteodorescu opened #74 "Update the VM state (ie: power on/power off)"
**vRA 7.x version**
vRA 7.3
**Terraform version**
Terraform v0.12.26

**terraform-provider-vra7 plugin version**
provider.vra7 v1.0.1

**Describe the bug**
Can't change state of the VM instances provisioned by Terraform through vRA.

*Context*
I build a VM through vRA using a terraform plan and the vRA7 provider successfully.
If I try to change the lease that's goes through without a problem, same

[2020-07-14 17:46] spbarbieri commented on #47
@Prativa20 I retried the scenario using a blueprint that creates VMs in VMware. It works most of the time. I had a few issues while testing, but all in all, it works well. I am unable to try this with a blueprint that creates VMs in AWS. We have a problem with our vRA system with connections to AWS.

[2020-08-19 14:20] ricardf commented on #71
Is there any way to read the ip_address having multiple resource_configurations ?

[2020-08-19 17:21] Prativa20 commented on #71
Hi @ricardf

Are you looking for this?

`output "ip" {
       value = vra7_deployment.machine[*].resource_configuration[*].ip_address
 } `

The result will be something like this:

[code]

[2020-08-19 19:51] leander091 opened #79 "EOF in /identity/api/tokens when creating multiple resources"
**General version information:**
- vRA 7.6
- Terraform version 0.13.0
- Terraform-provider-vra7 plugin version 1.0.2

**Describe the bug**
It looks like the VRA provider is not able to create multiple resources in the same terraform run.
I have three resources defined in the file and only 1 of them completes successfully.
The following error is printed in the logs:

`2020-08-19T21:21:27.07+02:00 v

[2020-08-19 20:06] Prativa20 commented on #79
@leander091 I could not reproduce it in my environment. Can you try to request them separately and see if the deployment is created?

Thanks,
Prativa

[2020-08-19 20:16] leander091 commented on #79
Ofcourse, I am going to test each resource separately and post the results.

[2020-08-19 21:23] leander091 commented on #79
@Prativa20
I've split the resources in three parts and I  can deploy each one successfully.

I've also tested the original configuration and the error is still there. Although the returned EOF is changed in one of the resources. The resource vmware-worker returns the EOF when it tried to do the api call when requesting the blueprint.

`Error: The catalog item request failed with error Post "https:

[2020-08-19 21:51] Prativa20 commented on #79
@leander091 I tried another scenario and I could reproduce it. The deployments are created in vRA but the provider crashes.
I will work on it and provide an update soon.

Is it crashing for you as well? Do you have crash log?

Thanks,
Prativa

[2020-08-19 22:11] leander091 commented on #79
@Prativa20

Thanks for the extra testing 👍.
It looks like that in my situation the provider mostly returns the errors and exits cleanly.

I've tried an new run and it looks like also could trigger an crash.  I am reviewing the crash report and will upload it after the removal of some sensitive information.

[2020-08-19 22:51] leander091 commented on #79
@Prativa20

This is my crash log: [crashlog-terraform](https://gist.github.com/leander091/fb1561934d267592273732a3b5c615cb)

[2020-08-20 07:50] ricardf commented on #71
I'm trying to get only 1 of those IPS by the component_name

[2020-08-21 15:10] prydin opened #80 "Output missing when relying on defaults for "resource_configuration""
**vRA 7.x version**
7.6
**Terraform version**
0.12.24
**terraform-provider-vra7 plugin version**
1.0.2

**Describe the bug**
The vRA 7 provider allows a user to specify configuration of individual resources from a blueprint. This is done through the ```resource_configuration``` section. However, a user is also permitted to omit this section, which should pull in the default values specified in the

[2020-08-21 15:37] prydin commented on #80
Terraform log:
https://gist.github.com/prydin/cf6e2880d0626a11e7b19da352f31c9f

[2020-08-22 11:18] prydin commented on #80
After investigating this a bit deeper, I got some interesting clues. The data from vRA is received correctly and appears to have all the fields. It also looks like it's parsed and processed correctly by the provider, but for some reason, the ```resource_configuration``` computed fields of the state don't seem to be populated by the Terraform core if they're not present in the configuration files.

[2020-08-25 20:49] Prativa20 commented on #80
@prydin Fixed as part of https://github.com/vmware/terraform-provider-vra7/pull/82. Please verify.

Thanks,
Prativa

[2020-08-26 18:29] Prativa20 commented on #64
Fixed #78

[2020-08-26 18:29] #64 closed, assigned to nobody

[2020-08-27 16:37] #73 closed, assigned to nobody

[2020-08-27 19:34] Prativa20 commented on #84
This is to align with the vRA UI Change Lease behavior and also to convert time into easy to read format.
vRA returns the lease_start, lease_end and other date times in the format `2020-04-16T00:15:00.700Z`. So, converting it to a more readable format in the state file, `2020-04-16 00:15`

In the UI, for the Change Lease operation, user has to provide the new lease end date and the time(optional)

[2020-08-31 18:59] sandeep444033 opened #85 "Drift in state file"
**vRA 7.x version**
vRA 7.6 HF 7
**Terraform version**
Terraform v0.12.26
**terraform-provider-vra7 plugin version**
provider.vra7 v1.0.1

**Describe the bug**

I am using vra-7 provider and I have built 11 VM's with Terraform via vRA.

I see all of the 11 VM's getting created via vRA but the state file have details of only 8 servers and this is random, sometimes if I build 15 servers I only have

[2020-09-11 02:13] #85 closed, assigned to nobody

[2020-09-11 06:39] #80 closed, assigned to nobody

[2020-09-11 06:43] Prativa20 commented on #67
Hi @BalajiTechs

Hope you could figure out how to get the component name. Closing this issue as this is not a bug.

Thanks,
Prativa

[2020-09-11 06:43] #67 closed, assigned to nobody

[2020-09-11 06:46] Prativa20 commented on #57
Hi @mcascone

Closing this issue as you can import any deployment irrespective of how it is created (through the terraform provider or vRA UI or API). The request id is required to do that.

[2020-09-11 06:46] #57 closed, assigned to nobody

[2020-09-11 06:49] Prativa20 commented on #56
@t-settle the original issue in this bug has been fixed. The plan will not show any diff if .tf file has no change.

The scale out issue is reproducible. It is due to the vRA API limitation. Please open another bug for that for easy tracking.

Thanks,
Prativa

[2020-09-11 06:49] #56 closed, assigned to nobody

[2020-09-11 18:38] Prativa20 commented on #85
@sandeep444033  This is fixed in the latest version v2.0.0

[2020-09-11 20:17] sandeep444033 commented on #85
@Prativa20

Post upgrading my provider version to 2.0, it broke in my outputs with the following error,

Error: Unsupported attribute

  on vra-deployment.tf line 252, in output "machine_Names":
 252:   value = "${vra7_deployment.myDeployment[*].resource_configuration[*].name}"

This object does not have an attribute named "name".

I have following in my outputs,

## output
output "machine_IPs" {

[2020-09-11 20:51] Prativa20 commented on #85
@sandeep444033 Yes, there is a schema change. `resource_configuration` is still valid. The computed attributed inside resource_configuration has been modified.

To access ip_address and name, you can modify it to

[code]

Each resource_configuration in state file maps with the one in the .tf file. `instances` is a list within resource_configuration and it is based on the cluster size that you prov

[2020-09-14 07:33] Prativa20 commented on #79
@leander091 Can you check if you can still reproduce it with the latest provider version?

[2020-09-17 21:27] thiagomarinho commented on #71
So, I managed to get a list like this:

[code]

"APP" is the resource name defined at vRA catalog item.

Is there any other way than using `for` and `if` statements to get properties from a specific resource with multiple resource_configurations?

[2020-09-21 16:40] leander091 commented on #79
@Prativa20  I've tested with the latest version and it looks like this problem still exists.
Is there a option to output more logging related to this specific problem and the authentication of the provider against our vRA instance?
I've tried the de $env:TF_LOG="TRACE" option but it does not give a clue about why the provider returns an EOF.

[2020-09-21 19:05] ibiqlik opened #90 "description and reason are not being set"
vRA 7.5
Terraform v0.13.3
registry.terraform.io/vmware/vra7 v2.0.0

**Describe the bug**
`description` and `reasons` are not being set on the deployment

**To Reproduce**
Steps to reproduce the behavior:

1. Terraform config file
[code]
2. Terraform command
[code]
3. Error
No errors

**Expected behavior**
`description` and `reasons` are set. During terraform plan I would expect to see the value be

[2020-09-22 19:58] kenvpt opened #91 "Vra7"
Is this Vra7 provider accomodate On prem vra7? Or only vmware Cloud?

[2020-09-22 20:21] markpeek commented on #91
This provider is for the on-premises vRA 7.x. For vRA Cloud or on-premises vRA 8.x you would use [this](https://github.com/vmware/terraform-provider-vra) provider.

[2020-09-22 20:21] #91 closed, assigned to nobody

[2020-09-22 20:23] kenvpt commented on #91
how about for vra 7 on prem?

On Tue, Sep 22, 2020 at 3:21 PM Mark Peek <notifications@github.com> wrote:

[2020-09-22 20:27] markpeek commented on #91
You are currently commenting in an issue for the vRA 7 on-premises provider.

[2020-09-22 20:33] kenvpt commented on #91
oh sorry. I misunderstood your email awhile ago.
Im having issues authenticating.

My credentials are correct so Im not sure what I am doing wrong.

On Tue, Sep 22, 2020 at 3:27 PM Mark Peek <notifications@github.com> wrote:

[2020-09-22 21:25] Prativa20 commented on #91
@kenvpt Which provider do you want to use? vra7(on-prem) or vra8(on-prem/cloud)? And can you share your main.tf?

[2020-09-24 14:44] kenvpt commented on #91
vra7 on prem

On Tue, Sep 22, 2020 at 4:26 PM Prativa Bawri <notifications@github.com>
wrote:

[2020-09-24 14:53] kenvpt commented on #91
On Thu, Sep 24, 2020 at 9:44 AM Kenneth Valenzuela <vkenneth0122@gmail.com>
wrote:

[2020-09-24 16:30] Prativa20 commented on #91
@kenvpt This is how your main.tf should look like https://github.com/vmware/terraform-provider-vra7/blob/master/example/simple/main.tf

Please share the vra-terraform.log file. This must have been generated in your terraform workspace, same location as your .tf file

[2020-09-28 16:52] kenvpt commented on #91
[image: image.png]

On Thu, Sep 24, 2020 at 11:30 AM Prativa Bawri <notifications@github.com>
wrote:

[2020-09-28 16:55] kenvpt commented on #91
yeah my main.tf is like that. I just have separate the provider.tf to
main.tf. the error when doing terraform apply is the authentication part

On Mon, Sep 28, 2020 at 11:52 AM Kenneth Valenzuela <vkenneth0122@gmail.com>
wrote:

[2020-09-29 01:12] Prativa20 commented on #91
@kenvpt I will need to check the logs to find out what is wrong. Can you share the vra-terraform.log file?

[2020-09-29 13:22] kenvpt commented on #91
On that picture, the vra-terraform.log file is there. It has 4 lines of logs

On Mon, Sep 28, 2020 at 8:12 PM Prativa Bawri <notifications@github.com>
wrote:

[2020-09-29 17:07] Prativa20 commented on #91
@kenvpt I just see the following text and there is no image attached or any download link as in the screenshot below.

Alternative way could be to copy the file content and paste it in the comments.

![image](https://user-images.githubusercontent.com/10183678/94590367-6b369f80-023b-11eb-9850-6a01ac31b54b.png)

[2020-10-09 18:16] sandeep444033 opened #92 "Description not getting updated on deployments post 2.0 upgrade."
**vRA 7.x version**
vRA 7.6 HF 7
**Terraform version**
Terraform v0.12.26
**terraform-provider-vra7 plugin version**
provider.vra7 v2.0.0

**Describe the bug**
Post 2.0 upgrade, descriptions field is not getting updated on deployemnt.

I have following resource definition

resource "vra7_deployment" "myDeployment" {
  wait_timeout = "180"
  count             = 1
  catalog_item_name = var.blueprint

[2020-10-13 06:37] Prativa20 commented on #92
This has been fixed in the latest version v2.0.1

Thanks,
Prativa

[2020-10-13 06:37] #92 closed, assigned to nobody

[2020-10-13 06:38] Prativa20 commented on #90
This has been fixed in the latest version v2.0.1

Thanks,
Prativa

[2020-10-13 06:38] #90 closed, assigned to nobody

[2020-11-02 20:07] sandeep444033 opened #95 "Scale out/in not working due to drift in Terraform state file"
**vRA 7.x version**
vRA 7.6 HF 7
**Terraform version**
Terraform v0.12.18
**terraform-provider-vra7 plugin version**
provider.vra7 v2.0.1

**Describe the bug**

Following scenarios of scale out/in are not working as expected with the Terraform provider for VMware vRealize Automation 7 version 2.0.1 due to disparities between vRA state and Terraform state.

Scale out VM count
Scale in from original

[2020-11-05 00:21] daneebrand opened #97 "Issue terraform plan"
**vRA 7.x version**
7.6
**Terraform version**
Terraform v0.13.5
**terraform-provider-vra7 plugin version**
The terraform-provider-vra7 plugin 2.0.1

**Describe the bug**
I am able to deploy VMs using the latest official provider. Once the VMS are deployed, if I run a TF plan, the provider shows that the "resource_configuration" options need to be changed.

**Expected behavior**
Since the configura

[2020-11-06 04:37] Prativa20 commented on #97
@daneebrand Can you please share your main.tf file?

Thanks,
Prativa

[2020-11-06 04:39] Prativa20 commented on #95
@sandeep444033 This is a known issue. I will look into it and update early next week.

Thanks,
Prativa

[2020-11-06 13:13] daneebrand commented on #97
@Prativa20

--- resource.tf file:
resource "vra7_deployment" "this" {
count = 1
catalog_item_id = var.catalog_item_id
businessgroup_id = var.businessgroup_id
description = "TerraForm"
reasons = "this"
lease_days = "0"

deployment_configuration = {
_number_of_instances = 1
_deploymentName= "this"
deployment_property = "Team"
}

resource_configuration {
component_name = var.component
cluster = 1
con

[2020-11-10 17:46] jmandl opened #98 "Problem with cluster value (not integer)"
**vRA 7.6 version**
The vRA 7.6 version where is issue is found.
**Terraform version**
Terraform v0.12.24
**terraform-provider-vra7 plugin version**
+ provider.vra7 v2.0.1

**Describe the bug**
Since I upgrade the terraform provider to 2.0.1 the cluster information should be informed.
I tried the following options:
-1 - Terraform show this message:
Code:20117 Message:The data specified within the

[2020-11-17 10:59] nsydenham opened #99 "Missing disk documentation and examples"
**vRA 7.x version**
7.6
**Terraform version**
0.13.5
**terraform-provider-vra7 plugin version**
2.0.0

**Describe the bug**
There is no documentation on either GitHub or at https://www.terraform.io/docs/providers/vra7/index.html of how to add an additional disk to a VM. Examples would be useful as well.

**To Reproduce**
1. Browse documentation
2. Browse source code
3. Search Google
4. Raise issue

[2020-11-17 12:48] hobovirtual commented on #99
hi @nsydenham

for new deployment you can use the VirtualMachine.DiskN.Size property to add disk(s), in fact you can add any of these built in properties in your manifest please see documentation [here](https://docs.vmware.com/en/vRealize-Automation/7.5/com.vmware.vra.prepare.use.doc/GUID-FA2ED665-4973-435C-A93B-8E4EAB5D1F8A.html)

if you're looking for a day 2 operations to add disk(s) this isn't

[2020-11-18 15:47] nsydenham commented on #99
@hobovirtual - yes, but it's not documented where to put these parameters in a Terraform configuration. I've got it to work by placing the directives in a deployment_configuration, but this was only found by trial and error and seems a bit non-sensical when it should be in a resource_configuration block. It also seems to change between older provider versions and with vRA 8, hence my request for e

[2020-11-18 22:10] Prativa20 commented on #99
@nsydenham The day 2 operation for adding disk in vra7 provider is not supported. Please open a request and we can prioritize it.

Thanks,
Prativa

[2020-11-19 21:20] Prativa20 opened #101 "lease_end field shows incorrect value and no change in lease_days always shows a change in plan"
**vRA 7.x version**
vRA 7.6
**Terraform version**
The terraform version
**terraform-provider-vra7 plugin version**
v2.0.1

**Describe the bug**
The lease_end date is updated incorrectly after configuring lease_days in the initial deployment.
No change in lease_days shows a change in plan

**To Reproduce**
Steps to reproduce the behavior:
1. Terraform config file
2. Terraform command
3. Error

**Ex

[2020-11-24 17:40] Prativa20 commented on #101
Fix available in v3.0.0. Refer to documentation for more information

[2020-11-24 17:40] #101 closed, assigned to nobody

[2020-11-24 17:40] Prativa20 commented on #95
@sandeep444033 The fix is now available in v3.0.0

Thanks,
Prativa

[2020-11-24 17:40] #95 closed, assigned to nobody

[2020-11-30 17:43] dmorr12 opened #103 "Unneccesary lookup of BusinessGroupId via Identity API"
terraform-provider-vra7 plugin version 3.0.0

The latest release now sets the "businessgroup_name" as party of resourceVrs7DeploymentRead - line 448 of resource_vra7_deployment.go

On line 637 of resource_vra7_deployment.go, a check is made to see if the name is provided and then the BusinessGroupId is looked up from the name. This involves a call to the identity API. Unfortunately for us, we do n

[2020-12-31 15:28] alanmosely commented on #96
+1 looks good. @Prativa20 can this PR get merged?

[2021-01-08 14:25] LeoK80 commented on #103
We're encountering the same issue. However groups for the requesting user (consumer) can be looked up from ```/identity/api/tenants/{tenant}/subtenants/membership```

Would it be possible to add a routine for this lookup when lookup on path ```/identity/api/tenants/{tenant}/subtenants``` ends up returning no Content?

[2021-01-08 17:20] LeoK80 commented on #103
Something along these lines inserted after [line 147](https://github.com/vmware/terraform-provider-vra7/blob/8d98593446e764f5be953bd1ec999721a0551341/sdk/vra7_sdk.go#L147) should provide a fallback check within the memberships without breaking existing functionality.

- check for original call to have retrieved and empty BusinessGroups array, if so ...
- when array empty try and update variable re

[2021-01-08 19:06] Prativa20 commented on #103
Looking into it.

-Thanks,
Prativa

[2021-01-18 19:31] hobovirtual commented on #103
hi @Prativa20

having the same issue with provider 3.0

since the /identity/api/tenants/{tenant}/subtenants uri requires tenantadmin role within vra, this is causing issue for all user that wish to do any day2 operations including delete.

/identity/api/tenants/{tenant}/subtenants/membership is a viable solution as mentioned by @LeoK80

the businessgroupid field is also in the tfstate since it is

[2021-01-20 16:55] g1ps opened #104 "Can't access vars in resource_configuration"
**vRA 7.x version**
Version: 7.5.0 (Build: 10053500)

**Terraform version**
Terraform v0.14.4

**terraform-provider-vra7 plugin version**
+ provider registry.terraform.io/vmware/vra7 v3.0.0

**Describe the bug**

Variables inside `resource_configuration ` blocks are inaccessible.

Hello,

After huge gobs of pain I had deployment working under Terraform 11. I have just been through the various upgr

[2021-01-22 08:18] Prativa20 commented on #103
Created a PR for this https://github.com/vmware/terraform-provider-vra7/pull/105

[2021-01-22 18:45] Prativa20 commented on #98
@jmandl Please upgrade to latest provider version 3.0.0 and let me know if you still see an issue.

Please refer to the documentation for examples https://github.com/vmware/terraform-provider-vra7/blob/master/website/docs/r/deployment.html.markdown

Thanks,
Prativa

[2021-01-22 18:47] Prativa20 commented on #97
@daneebrand this issue has been fixed in the latest version 3.0.0 of the provider.
Please upgrade and reopen the bug if the issue still exists.

Thanks,
Prativa

[2021-01-22 18:47] #97 closed, assigned to nobody

[2021-01-27 09:36] mmn01-sky opened #106 "Feature Request: Add Additional Disks to Existing Machine"
**vRA 7.x version**
vRA 7.6
**Terraform version**
Terraform v0.14.5
**terraform-provider-vra7 plugin version**
2.0.1

**Describe the bug**
When adding an additional disk to an existing machine, the terraform plan shows the disks will be created however nothing is actually added to the machine. Team which manage vRA7 platform saw no parameters in our terraform reconfigure request which stated addit

[2021-01-29 15:12] hobovirtual commented on #103
Hi @Prativa20

i see the fix has been merged, are we expecting a version 3.0.1 soon ?

Thanks!

[2021-02-01 10:07] encrom commented on #106
Hello guys,

Just facing the same issue .. there is no way I can add a new disk in time of requesting by using vra7 provider (version 3.0.0).
Here my configuration file:

/***********************************************************/
resource "vra7_deployment" "{{ inventory_hostname }}" {
  catalog_item_name = "KAU_W2012R2"
  wait_timeout = "30" # In minutes
  description = "{{ inventory_hostname }

[2021-02-01 21:31] hobovirtual commented on #106
Hi @encrom

For day0 provisioning you need to provide these virtual machine properties under the virtual machine resource_configuration section like this

[code]

What is describe in this feature request is different. Today day2 actions are limited in the vra7 provider, like adding disk.

hope this helps a bit!
thanks!

[2021-02-02 05:27] Prativa20 commented on #103
@hobovirtual released version 3.0.1

Thanks,
Prativa

[2021-02-02 15:13] encrom commented on #106
hey @hobovirtual

Thanks a lot for answering. This is my particular situation always refering about the day0 actions.

I have tested as you said and a new errors shows that I assume is about some kind of configuration on the vRA itself.

[Cannot add 2 disks for Component KAU_W2012R2. Maximum number of volumes is set at 1.]

Should I assume this is something about the vRA configuration or even abou

[2021-02-03 08:58] mmn01-sky commented on #103
@Prativa20 When can we expect version 3.0.1 to be available in the terraform registry?

[2021-02-03 12:52] hobovirtual commented on #107
hi @Prativa20 and @markpeek

the provider is not publish on the registry yet, i don't see any of the binaries in the latest version, not sure if it's the issue or something else within the chain that broke/missing.

thanks for your support!
![image](https://user-images.githubusercontent.com/20516722/106749633-c5ce7680-65f4-11eb-9968-8c5038e3ccb6.png)

[2021-02-03 14:55] markpeek commented on #107
This is an issue with how it was released in github. I'll work with @Prativa20 to get it resolved today.

[2021-02-03 18:50] markpeek commented on #107
@hobovirtual this has been fixed and you should see v3.0.1 [here](https://registry.terraform.io/providers/vmware/vra7/latest).

[2021-02-03 18:57] hobovirtual commented on #107
awesome thanks @markpeek  and @Prativa20 for your support!

[2021-02-03 19:22] hobovirtual commented on #103
fyi
new provider is available and working as expected!!!

[2021-02-03 20:37] Prativa20 commented on #103
@hobovirtual thanks for verifying!

[2021-02-04 13:46] encrom commented on #106
Just to point that everything works fine now.

Thanks a lot for the quick answer.

Bests,
@encrom

[2021-02-18 19:50] jmandl commented on #98
Hi @Prativa20 , I tryed the latest version, but the provider still send _cluster as a string:

2021-02-18T16:42:58.137-0300 [DEBUG] plugin.terraform-provider-vra7_v3.0.1:         "key": "_cluster",
2021-02-18T16:42:58.137-0300 [DEBUG] plugin.terraform-provider-vra7_v3.0.1:         "value": {
2021-02-18T16:42:58.137-0300 [DEBUG] plugin.terraform-provider-vra7_v3.0.1:          "type": "string",
2021

[2021-02-18 21:48] Prativa20 commented on #98
@jmandl Sure, we can sync up. I will reach out to you with availability.

[2021-02-23 02:02] chewbh commented on #98
**vRA 7.6 version**
The vRA 7.6 version where the issue is found.

**Terraform version**
Terraform v0.13.5

**terraform-provider-vra7 plugin version**
- provider registry.terraform.io/vmware/vra7 v2.0.1
- provider registry.terraform.io/vmware/vra7 v3.0.1

Describe the bug
I faced the same issue with using both v2.0.1 and v3.0.1 of this provider. v1.0.3 is the only version that work when cluster is

[2021-03-09 16:07] bbaassssiiee commented on #32
What is the status on this? Soon < 1 year?

[2021-03-09 16:43] RobMokkink commented on #32
What is the status and is there a workaround?

[2021-03-17 00:45] hugoti opened #111 "Issue resolving business group by name when large number of business groups present"
The provider returns 'Error: No business group found with name: <name>', in an environment with 300+ business groups. Specifying the same business group by ID works fine. The business group itself is visible fine over the API.

Additionally, all business group names in the environment have the same prefix, for example 'london-bg1', 'london-bg2' etc.

Thanks

[2021-03-18 22:26] Prativa20 commented on #96
@swierq @alanmosely Can you please rebase and update the PR? It looks good and I have run the unit tests locally for this change. I will approve once it is updated.

Thanks,
Prativa

[2021-03-18 22:26] #103 closed, assigned to nobody

[2021-03-18 23:12] alanmosely commented on #96
Thanks, will do

[2021-03-19 07:18] swierq commented on #96
@Prativa20 @alanmosely Rebased to current master. Thanks.

[2021-03-23 00:07] onlydole commented on #110
Closing due to fixes introduced in https://github.com/vmware/terraform-provider-vra7/pull/113

[2021-03-23 13:17] ankujuniyal commented on #106
hi @hobovirtual via api my templet look like same as mention https://github.com/vmware/terraform-provider-vra7/blob/master/website/docs/r/BasicSingleMachine.yaml

  "disks": [
                    {
                        "classId": "Infrastructure.Compute.Machine.MachineDisk",
                        "componentId": null,
                        "componentTypeId": "com.vmware.csp.iaas.blueprint.se

[2021-03-30 23:28] sabhi66 commented on #111
Even I'm facing the same issue though the business group name exists in terraform.tfstate and if i perform any other terraform operation such as terraform destroy or terraform refresh it says no such business group name found.

Thanks

[2021-03-30 23:30] sabhi66 commented on #106
@ankujuniyal  Even I'm facing the same issue. I need to increase storage for existing mount paths.

[2021-03-30 23:56] hobovirtual commented on #106
hi @ankujuniyal

i don't work much with vra7 anymore, but couple of things to note here

1. these properties are only working during the initial deployment, they cannot be added on existing machine, the vra7 provider is still limited in terms of day2 actions
2. with the latest version, you need to add these properties in the configuration section of the resource_configuration as mentioned above.
3

[2021-03-31 00:25] sabhi66 commented on #106
Hi @hobovirtual I'm trying to increase storage for the existing
mount paths here's my VRA  storage pic

How can I increase mounted paths storage for a new deployment

[2021-03-31 00:32] hobovirtual commented on #106
Hi @sabhi66

This is currently not supported in the current provider, i just revised this issue and this is the feature request for disk “day2” actions ;)

I will let @Prativa20 or @markpeek discuss if this is coming....

Thanks!

[2021-03-31 00:34] sabhi66 commented on #106
Hi @hobovirtual

Thanks for the update

[2021-04-02 03:50] ankujuniyal opened #114 "get vm by IP/hostname using data source"
Hi Right now you can get instance by deployment id or request id.
(https://registry.terraform.io/providers/vmware/vra7/latest/docs/data-sources/vra7_deployment#example-usages)
what if i got vm through VRA itself. then I want to perform day 1 action using terraform.

using API its possible get vm using hostname.

https://VRA/catalog-service/api/consumer/resources/types/Infrastructure.Machine/?
para

[2021-04-14 02:41] divya-goyal opened #116 "mware / terraform-provider-vra7 Provider is considering the computed values as changes in the resource even though there is no update which has taken place"
**vRA 7.x version**
The vRA 7.6 version
**Terraform version**
The terraform version : 0.14
**terraform-provider-vra7 plugin version**
The terraform-provider-vra7 plugin version (e.g. commit id, etc.)
terraform-provide-vra7 : 3.0

**Describe the bug**
I am using vmware / terraform-provider-vra7 version 3.0.2, facing an issue with the way terraform evaluate the difference for the newly created resou

[2021-04-26 13:33] Adam2Marsh commented on #116
We're also seeing the same issue above but on provider 3.0.1

I have a commit which confirms back in Febuary we tested day amendments and it was working. Checked our our VmWare team who confirmed no changes have been made on the platform but this is now an issue.

[2021-04-26 14:34] mmn01-sky commented on #116
I'm also seeing the same issue using provider version 3.0.1.

[2021-05-06 06:40] aindenko commented on #32
What is the status of described issue? Any updates on it ?

[2021-05-13 16:04] Prativa20 commented on #116
Looking into this issue.

@divya-goyal  For day 2 operation to change lease, please do not modify `lease_days`. It is only for the initial provisioning of the resource. To modify the lease,  add `expiry_date` in the main.tf file.  is The instructions are given in the documentation https://github.com/vmware/terraform-provider-vra7/blob/master/website/docs/r/deployment.html.markdown

[2021-05-14 17:23] Prativa20 commented on #116
@divya-goyal @Adam2Marsh @mmn01-sky I could not reproduce the scenario where if I do not make any change to the main.tf file, I see a diff in the plan. It is working as expected. Can you please confirm this? Also please make sure the lease_days  and expiry_date is used as documented in https://github.com/vmware/terraform-provider-vra7/blob/master/website/docs/r/deployment.html.markdown

But when I

[2021-05-14 18:10] harmjanblok commented on #117
@Prativa20 @markpeek can you assist me with the clabot? Tried multiple times, but still seem to have it wrong.

[2021-05-14 18:35] markpeek commented on #117
@harmjanblok just looked at your branch. Your commit and signature match so I'm not sure why the clabot is complaining. @Prativa20 can merge after reviewing the change.

[2021-05-24 14:52] sabhi66 opened #118 "Onbehalf of filter supprot for vmware vra7"
I want to know if Terraform vra7 supports the parameter on behalf which is available on vmware vra website GUI

[2021-05-25 11:14] g1ps commented on #104
I'm trying again with terraform 15. I can get outputs to work with
[code]
although it seems to alternate between returning the VM's actual name and the name field which is visible in Properties/name in the machine's `properties` tab, which contains some other text.

I still can't get `self` to work on providers. I've tried dozens of variations on `resource_configuration[*]`, `instances[0]` or `[*]

[2021-06-23 16:27] ankujuniyal commented on #106
@sabhi66  @hobovirtual  I even try with Day1 action but didn't find storage on request  at VRA side.
here is main.tf file

resource "vra7_deployment" "vm" {
  count             = var.no_of_vm
  catalog_item_name = var.vm_image
  description       = var.vm_request_description
  reasons           = var.vm_request_description
  lease_days        = var.lease_days
  wait_timeout      = 30

   deploymen

[2021-06-25 08:01] Adam2Marsh commented on #116
Any updates on this @Prativa20

[2021-07-14 23:46] frodenas commented on #120
You can see the result of the new added github action at [golang-test / gotest (pull_request) ](https://github.com/vmware/terraform-provider-vra7/pull/120/checks?check_run_id=3071871061).

[2021-07-23 07:14] NunSant opened #122 "Tenant environment variable name mismatch"
**vRA 7.x version**
N/A
**Terraform version**
N/A
**terraform-provider-vra7 plugin version**
N/A

**Describe the bug**
In terraform registry documentation, the environment variable documented for provider tenant property is "_VRA7_SERVER_". However, source code references "_VRA7_TENANT_".

**To Reproduce**

**Expected behavior**

**Screenshots**

**Logs**

**Desktop (please complete the following

[2021-08-12 14:56] mh013370 commented on #104
I spent quite a bit of time on this same problem and eventually came to a solution. I'm using provider version 3.0.2, terraform 1.0.3, and vra7 v7.5+.

I have a resource which provisions several VMs. In my case I'm only configuring a single `resource_configuration`, so i assume that in the below. I have a `null_resource` alongside the `vra7_deployment` with a `remote-exec` and the following connec

[2021-08-18 07:22] harmjanblok commented on #117
@Prativa20 is it possible to release a v3.0.3 version which includes this change?

[2021-08-20 11:42] sarveshpat commented on #99
Hi , is this problem resolved ? I am also facing the same issue but i am using vra8. Please let me know .

Thanks
Sarvesh

[2021-09-10 12:56] jonhowe commented on #104
@michael81877  THANK YOU for sharing this. I was banging my head against a wall for a long time trying to get this working and this got me on the right track.  I'm using provider version 3.0.2, Terraform 1.0.4 and vRA 7.6.

I needed to make one change though since I'm _potentially_ deploying >1 deployment. Both of the resources are below.
[code]

[2021-09-22 08:20] jacnorri commented on #116
Hi I am also facing this issue. Any update @Prativa20 ?

thanks

[2022-01-15 01:02] woopla opened #124 "Support tokens for authentication"
Hello,

It looks like the only option right now is to use a username/password combination. I'd rather provide a token to Terraform, and other VMware providers (e.g. vCloud Director) support this.

Am I missing something, or is this feature missing?

Thanks,

Clément

[2022-02-04 08:05] rgaduput opened #126 "authentication with domain name into vRA"
Hi,
Our vRA authentication is setup with different domains, while logging in manually we choose a specific domain and then enter user name and password.
how to achieve this in terraform, when I am providing the user name and password with out any domain for `provider vra7` it fails with authentication issue.
I have tried to provide the domain as prefix to the user name `DOMAIN.LOCAL\\USERNAME`, st